{% extends 'base.html'%}

{% block page_title %} Comunidades de la región Caraigres {% endblock %}

{% block content %}

{# esto coloca 5 líneas de espacio vertical #}
<div class="custom-vertical-space"></div>

<h1>Comunidades de la región Caraigres</h1>

<div class="card card-bordered">
    <div class="card-body lead">
        Hola, estamos cruzando los dedos para ver si funciona.</a>.
        <br> 
        <span class="small"><i class="fas fa-chalkboard-teacher text-primary"></i> &nbsp; Ver <a href="/presentacion" target="_blank">presentación</a> del sitio. </span>
    </div>
</div>

<br/>
<h2>San Gabriel de Aserrí</h2>

<dl>
    <dt><i class="fab fa-python"></i> Django</dt>
    <dd><i><a href="https://www.djangoproject.com/">Framework</a></i> en Python para el <i>back-end</i>.</dd>
    <dt><i class="fab fa-bootstrap"></i> Bootstrap</dt>
    <dd><i><a href="https://getbootstrap.com/">Framework</a></i> de HTML, CSS y JavaScript para el <i>front-end</i>.</dd>
    <dt><i class="fab fa-vuejs"></i> Vue.js</dt>
    <dd><i><a href="https://vuejs.org/">Framework</a></i> en JavaScript para aplicaciones (<i>widgets</i>) en el <i>front-end</i>.</dd>
</dl>

<h4>Licencias</h4>

<p class="small">
    <i class="fab fa-github"></i> <br> Este es un proyecto de software libre disponible en <a href="https://github.com/fabianabarca/buses" target="_blank">GitHub</a>.
</p>

<p class="small">
    <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-sa"></i>
    <br>
    Creative Commons 
    <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es">Atribución-CompartirIgual 4.0 Internacional (CC BY-SA 4.0)</a>.
</p>   

<hr>
<h2>Agradecimientos</h2>

<h3>Transportes San Gabriel</h3>

<dl>
    <dt>Melsen Herrera Corrales</dt> <dd>Gerente general</dd>
    <dt>Arianny Gamboa Díaz</dt> <dd>Asistente de operaciones</dd>
    <dt>Osvaldo López Jiménez</dt> <dd>Chofer de bus</dd>
</dl>

<h3>En las comunidades</h3>

<dl>
    <dt>Isaac Abarca Padilla <a href="https://www.instagram.com/abarca_isc/"><i class="fab fa-instagram"></i></a></dt> <dd>Fotografías aéreas</dd>
</dl>

<!-- Zona de peligro -->

<h2>Cantón de Aserrí</h2>
<ul>
	<li><a href="#SG"> Distrito de San Gabriel </a></li>
	<li><a href="#TB"> Distrito de Tarbaca</a></li>
	<li><a href="#VJ"> Distrito de Vuelta de Jorco</a></li>
</ul>
<h2> Cantón de Acosta </h2>
<ul> 
	<li><a href="#SIG"> Distrito de San Ignacio </a></li> 
</ul> 

<!-- TEXTOS DE 500 A 1000 PALABRAS -->

<h2> Aserrí </h2>

<h3 id="SG"> San Gabriel </h3>
  
	<p> El distrito de San Gabriel está ubicado aproximadamente a 22 km de San José. Pertenece al cantón de Aserrí y posee una extensión territorial de 11,76 km<sup>2</sup>. Geográficamente, esta localidad limita al norte con el distrito de Tarbaca, al oeste con el distrito de Vuelta de Jorco, al sur con el distrito de Monterrey y al este con el cantón de Desamparados; además, posee una elevación media de 1 310 metros sobre el nivel del mar. Está compuesto por el barrio Pueblo Nuevo y los poblados de La Fila (parte), Limonal, Los Solano, Rancho Grande, Salitral, Tranquerillas, Trinidad (parte) y Villanueva </p>
	<p> Según el Instituto Nacional de Estadísticas y Censos (INEC), en San Gabriel se ha contabilizado una población aproximada de 6 061 habitantes durante el Censo 2011, la cual se conforma de 3 044 mujeres y 3 017 hombres; asimismo, se ha calculado una densidad poblacional de 515 habitantes por km<sup>2</sup>. No obstante, el INEC ha realizado una proyección poblacional en la que se estima que la población total del distrito puede alcanzar los 6930 habitantes para el año 2022. Por ello, esta localidad se posiciona en cuarto lugar en número de habitantes dentro del cantón de Aserrí, superado en número por el distrito de Vuelta de Jorco. </p>

  <!-- Insertar imagen de gráfico poblacional -->

  <img src="pobl_san_gabriel.png">

	<p> En cuanto a la historia de San Gabriel, la localidad fue fundada en 1882 bajo el nombre de Monte Redondo y sus primeros habitantes se dedicaron al traslado de café en carretas y caballos, debido a que estos fueron los únicos medios de transporte para movilizarse a la ciudad capital de San José. Con la llegada de Juan Zeledón al pueblo, entre los años 1931 y 1933, se crea el mejor beneficio de café de la zona y, de esta manera, se contrató personal para trabajar en los terrenos de Zeledón. Este personaje logró su cometido con la ayuda del dinero recaudado mediante hipotecas. </p>
	<p> Cabe destacar que, para ese entonces, San Gabriel carecía de casas y edificaciones. Sus terrenos consistieron en extensiones de cafetales, empero, no fue sino hasta finales del siglo XIX que se construyó la primera casa en el centro de este distrito, la cual fue declarada en la década de los años ochenta como patrimonio nacional, ya que fue la única casa de adobe de dos plantas construida en Costa Rica. </p>
	<p> Debido a que San Gabriel comenzó siendo un pueblo pequeño con pocos habitantes, hubo ausencia de servicios básicos como luz, agua potable y transporte público. Fue a finales de los años sesenta que Coope Santos RL colocó el tendido eléctrico en esta zona, brindando de esta forma, el servicio de electricidad a los habitantes. Por otro lado, a finales de los años noventa, el servicio de agua potable fue brindado por la Asociación Administradora del Acueducto Rural de San Gabriel, la cual tiene aproximadamente cien afiliados y tiene en servicio aproximadamente 1137 pajas desde Tranquerillas hasta la Trinidad y Salitral.</p>
	<p> Entre otras construcciones históricas, la carretera en este distrito fue construida entre los años 1920 y 1922. En esta gestión, Leónidas Rojas fue un personaje importante, quien fungió como educador de la Escuela Gabriel Brenes Robles. Adicionalmente, se ubican en el centro del distrito la escuela, la guardia rural, la plaza de deportes y la iglesia.  Estos establecimientos se crearon por medio de la donación de terrenos pertenecientes a Don Gabriel Brenes Robles. </p>
	<p>  Los registros de la historia de este lugar revelan que Don Gabriel dividió parte de su propiedad en cuarenta y nueve cuadrantes, siete de cada lado con una medida de una manzana de terreno, cada una dividida por calles, las cuales pidió que fueran anchas para que las personas pobres que no tenían potreros las usaran como terrenos para sus animales.</p>
	<p> Por otra parte, la iglesia fue edificada en 1910, para ello, se utilizó madera con latón. Dicho estilo de construcción fue característico de la arquitectura de la primera mitad del siglo XX y, precisamente, la arquitectura de este templo fue influenciada por edificaciones religiosas de Bélgica y Francia. En el año 1968, esta iglesia se convirtió oficialmente en la Parroquia de San Gabriel Arcángel. </p>
	<p>Actualmente San Gabriel es un pueblo que conserva la sencillez de sus habitantes y ha incursionado en el turismo gracias a la calidez que de sus calles en verano, la imponencia de su iglesia y la presencia de establecimientos para visitar y comer como los son el Bar y Restaurante El Gato, el Café Segura y el Restaurante La Comarca, los cuales han ganado popularidad en los últimos años.</p>

<!-- Insertar imagen-->

<img src="sangabriel.png" alt="San Gabriel" class="right">

<h3 id="TB" class="blue"> Tarbaca </h3> 

	<p>Tarbaca es un distrito perteneciente al cantón Aserrí, ubicado a 19.7 km de San José. Posee una extensión de 15.33km<sup>2</sup> y limita al norte con el distrito de Aserrí, al oeste con el cantón de Acosta, al sur con el distrito Vuelta de Jorco y al este con el cantón de Desamparados; adiccionalemente, se eleva a 1798 m.s.n.m. Comprende los poblados de Bajo Cedral, Bajos de Praga, Cedral, El Tigre, Kamaquiri, dicho poblado es compartido con San Gabriel, La Joya, Máquina Vieja, Tarbaca centro y Tigre.</p>
	<p> Conforme al Censo 2011 (INEC), la población de Tarbaca cuenta con 1 446 habitantes, la cual se divide entre 692 mujeres y 754 hombres. Asimismo, posee una densidad poblacional de 103,7 habitantes por km<sup>2</sup>.  Según proyecciones del INEC para el año 2022, se espera que se alcance una población de 1 676 habitantes, esto implica un aumento de 191 habitantes en la zona. Este es el segundo distrito de Aserrí, sin embargo, en términos de cantidad de habitantes posee el sexto lugar, siendo superado por el distrito de la Legua, el cual posee una proyección de 1 748 habitantes para el presente año.</p>

<!-- Insertar imagen de población -->

 <img src="pobl_tarbaca.png" alt="'Gráfico poblacional para el distrito de Tarbaca">

	<p>Históricamente, este distrito fue fundado el 27 de noviembre de 1882 y su nombre, Tarbaca, es una palabra de origen indígena huetar que significa “tierra infértil”, debido a que sus largos senderos de bosques no fueron utilizados por los indígenas para la siembra de cultivos ni el pastoreo de animales. Esta situación se mantiene en la actualidad, dado que estas tierras son de vocación forestal, es decir, se utilizan para la plantación de árboles de ciprés, los cuales son cultivados durante todo el año y en la época navideña son talados y vendidos. </p>
	<p> Pese a que la venta de árboles representa parte de la actividad comercial del sitio, durante el resto del año, la dinámica económica se centra en los múltiples restaurantes presentes a lo largo de la zona, los cuales ofrecen una espectacular vista nocturna de las luces que adornan al cantón de Desamparados. Este es uno de sus principales atractivos turísticos. </p>
	<p> A causa de los establecimientos poblacionales en Aserrí, se ha registrado una pérdida del entorno natural, por lo que los osos perezosos que habitaron la zona, se desplazaron hacia el distrito de Tarbaca. Otro aspecto a resaltar es que de los bosques nubosos presentes en esta zona nacen cerca de 300 nacientes de agua, las cuales aportan su líquido a las poblaciones de Aserrí, Desamparados, Acosta, Alajuelita y Escazú, por esto, Tarbaca se ha convertido en una de las zonas de recarga hídrica más importantes del Valle Central. </p>

<!--Insertar imagen del pueblo de Tarbaca -->

<img src="tarbaca.png" alt="Tarbaca" class="center">

<h3 id="VJ"> Vuelta de Jorco </h3> 

	<p> El territorio del distrito de Vuelta del Jorco es de 22.04 km<sup>2</sup> y se encuentra a 1120 msnm. Para el Censo del 2011, su población total alcanzó los 6 499 habitantes, distribuida entre 3 308 mujeres y 3 191 hombres. La densidad poblacional fue de 291,2 habitantes por km<sup>2</sup>. Sin embargo, las proyecciones del INEC para el 2022 indican que la población alcanzará los 7 342.</p> 
	<p> La localidad colinda con otros tres distritos de Aserrí: al norte con Tarbaca; al sureste con Monterrey y al este con San Gabriel; también, limita con el cantón de Acosta. Este distrito compuesto por los poblados del Calvario, Ceiba Alta (parte), Jocotal, Legua de Naranjo, Mangos, Meseta, Monte Redondo, Ojo de Agua, Rosalía, Uruca. </p>

<!-- Insertar imagen de gráfico poblacional --> 

<img src="pobl_vuelta_jorco.png">

	<p> La fundación de este poblado se llevó a cabo en 1882, convirtiéndose así, en el tercer distrito del cantón de Aserrí. Adicionalmente, se cree que su topónimo está relacionado con el río Jorco. Según el lingüista Miguel Ángel Pacheco, es posible que el nombre del río provenga del vocablo indígena huetar “jorco”, el cual se relaciona con el nombre de un árbol de la especie <i>Rheedia edulis</i>. </p> 
	<p> Se estima que el distrito comenzó a desarrollarse durante la década de los setenta, justo cuando se inicia el acceso a los servicios públicos en Vuelta de Jorco. En el pasado, las construcciones daban directamente en la calle, no obstante, a partir de los setentas, el aspecto del pueblo cambia, dejando de lado, este estilo de construcción. Gracias a este desarrollo, en Vuelta de Jorco se instaló el Cine Lisseth, el cual fue propiedad de Hormidas Fallas. Fue este cine el que proveyó de entretenimiento a los lugareños entre las décadas de 1950 y 1970. </p> 

<!--Insertar imagen del pueblo de Vuelta de Jorco -->

<img src="vueltadejorco.png" alt="Vuelta de Jorco" class="center">

<h3 id="SIG"> San Ignacio de Acosta </h3>

	<p>Acosta es el cantón número 12 de la provincia de San José y San Ignacio es su primer distrito, por ende, es la cabecera del cantón. Se encuentra localizado a 30 km al sur de la ciudad de San José. Este distrito cuenta con un área de 22,63 km<sup>2</sup> y sus limita con los distritos de Palmichal (al norte), Guaitil (al oeste), Cangrejal (sur) y con el cantón de Aserrí (al este). La localidad se eleva a los 1095 m.s.n.m. y comprende a los barrios Abarca, Corral, María Auxiliadora, Ortiga, Pozos, San Martín (San Gerardo), San Luis, Turrujal, Vereda y a los poblados de Aguablanca (parte), Alto Escalera, Alto Los Mora, Ángeles, Chirraca (parte), Esperanza, Potrerillos, Resbalón, Tablazo. </p> 
	<p> A partir del Censo 2011 (INEC), se estimó que su población total fue de 9 016 habitantes de los cuales 4 561 habitantes son mujeres y 4 456 son hombres y su densidad poblacional es de 388,8 hab/km<sup>2</sup> (INEC, 2011). Ahora bien, las proyecciones del INEC indican que para el año 2022, la población aumentará a 9475 habitantes aproximadamente, manteniéndose así, en el distrito más poblado del cantón de Acosta.   </p>

<!-- Insertar imagen de gráfico poblacional --> 
 
 <img src="pobl_san_ignacio.png">

	<p> El topónimo inicial de la localidad fue La Candelaria de Aserrí, sin embargo, el nombre fue reemplazado por Ignacio de Acosta.  Este nombre es el resultado de un homenaje a don Tomás de Acosta, gobernador de la provincia de Costa Rica entre 1797 y 1810, de quién también se deriva el nombre del cantón.  Asimismo, la localidad honra a San Ignacio de Loyola, militar y religioso de nacionalidad española, quien figuró como un líder religioso durante la Contrarreforma; por esta razón, de Loyola es el patrono de San Ignacio y de su iglesia. De hecho, el edificio más destacable es la Iglesia de San Ignacio de Loyola, la cual cuenta con un altar finamente acabado en oro traído de España. </p>
	<p> La primera escuela en San Ignacio estuvo en la casa de Nicolás Saborío, uno de los primeros colonizadores de la zona. Posteriormente, don Tomás Rojas Alpízar, donó un terreno para una escuela. Ubicadas propiamente en el distrito de San Ignacio se encuentran los siguientes centros educativos: Escuela Cristóbal Colón, Escuela de San Luis, Escuela Fernando de Aragón, Escuela de Tablazo y la escuela La Esperanza. 
	<p> Por otro lado, el alumbrado público eléctrico se instaló en 1953, suministrado por la municipalidad de Acosta y, con el acceso a la energía eléctrica, se consiguieron avances en educación; por ejemplo, el Liceo de Acosta abrió sus puertas en marzo de 1966, durante el gobierno de Francisco Orlich Bolmarcich. En 1976,  el centro educativo realizó un cambio en su modalidad de enseñanza, por lo que pasó a ser el Colegio Técnico Profesional Agropecuario de Acosta.</p>
	<p> En la zona predomina un paisaje montañoso y quebradizo. Es considerado eminentemente agrícola, pues la actividad agropecuaria sigue siendo la que genera mayores ingresos y la que da mayor cantidad de trabajo a un alto porcentaje de sus pobladores. En San Ignacio se da una economía basada en el comercio y los servicios. </p>
	<p> El distrito es considerado "Tierra de músicos", por la fértil producción de músicos, que tiene una sus máximas expresiones culturales es la Banda Municipal de Acosta, la cual ha participado en varias competiciones a nivel internacional y ha obtenido algunos reconocimientos importantes. La antigua iglesia de San Ignacio de Acosta fue construida en estilo gótico, con materiales traídos de Bélgica. Se desconoce la causa de su demolición y reemplazo por el templo actual. </p>
	<p> El distrito de San Ignacio cuenta con celebraciones y fechas festivas. Por ejemplo, desde finales de Julio hasta principios de agosto se celebra y conmemora a San Ignacio. Como es de costumbre, hay puestos de comidas, recreación infantil, música, pasacalles, topes y conciertos en el parque de la localidad. </p>
	<p> Con respecto al turismo, en San Ignacio de Acosta posee varios sitios de interés como la Parroquia de San Ignacio de Loyola, la Municipalidad de Acosta, el parque Central Monseñor Sanabria.Asimismo, se encuentran atractivos para toda la familia como lo es “Valle Encantado”, un complejo turístico que cuenta con piscinas, toboganes acuáticos, restaurante, ranchitos, cancha de fútbol, áreas de juegos. </p>
	<p> También, se encuentra el Centro Turístico Paraíso del Río. Ideal para visitar en familia. Cuenta con servicio de restaurante, Dos piscinas, zonas verdes, sendero al río, servicio de camping y venta de plantas ornamentales. Además, en el distrito se encuentra la viña El Espavey, un lugar para aprender acerca del mundo de las uvas y el vino en el trópico costarricense. En San Ignacio, también se ubica el Centro Turístico Ecológico Chirraca de la Selva, un santuario para disfrutar de la riqueza ecológica del país.</p> 

<!-- Material consultado -->

<h3> Bibliografía </h3>
<br> Instituto Nacional de Estadísticas y Censos. (2019). Costa Rica: Área en kilómetros cuadrados, según provincia, cantón y distrito administrativo 2019. Recuperado de <a href="https://www.inec.go.cr/documento/poblacion-08-costa-rica-area-en-kilometros-cuadrados-segun-provincia-canton-y-distrito-0">https://www.inec.go.cr/documento/poblacion-08-costa-rica-area-en-kilometros-cuadrados-segun-provincia-canton-y-distrito-0</a>
<p>  Instituto Nacional de Estadísticas y Censos. (2013). Área en kilómetros cuadrados, según provincia, cantón y distrito administrativo 2013.  Recuperado de <a href="https://www.inec.cr/anuario-estadistico/anuario-estadistico-geografia">https://www.inec.cr/anuario-estadistico/anuario-estadistico-geografia </a> 
<br>Instituto Nacional de Estadísticas y Censos. (2011). Costa Rica: Indicadores demográficos según cantón y distrito. Censo 2011. Recuperado de <a href="https://www.inec.cr/censos/censos-2011?keys=poblaci%C3%B3n+&at=All&prd=All&field_anio_documento_value%5Bvalue%5D%5Bdate%5D=">https://www.inec.cr/censos/censos-2011?keys=poblaci%C3%B3n+&at=All&prd=All&field_anio_documento_value%5Bvalue%5D%5Bdate%5D=</a> 
<br> Instituto Nacional de Estadísticas y Censos. (2011). Costa Rica: Población total proyectada al 30 de juniopor grupos de edades, según provincia, cantón, distrito y sexo. Recuperado de <a href="https://www.inec.cr/poblacion/estimaciones-y-proyecciones-de-poblacion"> https://www.inec.cr/poblacion/estimaciones-y-proyecciones-de-poblacion </a>
<br> Mapas de Costa Rica. (2022). Mapas del cantón de Aserrí. Recuperado de <a href="http://mapasdecostarica.blogspot.com/2014/09/6-aserri.html."> http://mapasdecostarica.blogspot.com/2014/09/6-aserri.html </a>
<br> Marín, V. (25 de febrero de 2018).El Cine Lisseth hizo historia en Jorco. El jornal. Recuperado de <a href= "https://eljornalcr.com/el-cine-lisseth-hizo-historia-en-jorco/">https://eljornalcr.com/el-cine-lisseth-hizo-historia-en-jorco/</a>
<br>Quesada Pacheco, M.A. (2006). Toponimía indígena de Costa Rica. <i> Filología y Lingüística XXXII. </i> (2): 203-259 , 2006. ISSN: 0377-628X. 
<br>Sistema Costarricense de Información Jurídica. (2022). Decreto Ejecutivo 37559. Recuperado de <a href
=”http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_articulo.aspx?param1=NRA&nValor1=1&nValor2=74467&nValor3=91983&nValor5=3”> http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_articulo.aspx?param1=NRA&nValor1=1&nValor2=74467&nValor3=91983&nValor5=3 </a>
<br> Ulibarri, A. (25 de abril de 2018). Facetas del Terruño - Vuelta de Jorco, orgullo de Aserrí 28 abril 1999. Recuperado de <a href="https://www.youtube.com/watch?v=ihjVqLL6t9Q">https://www.youtube.com/watch?v=ihjVqLL6t9Q</a>
<br> Wikidat. (2022). Vuelta del Jorco. Recuperado de <a href="https://es.wikidat.com/info/vuelta-de-jorco">https://es.wikidat.com/info/vuelta-de-jorco</a>
</p>

<!-- Zona de peligro -->

{% endblock %}
