{% extends 'base.html'%}

{% block page_title %} Nuestras comunidades: Vuelta de Jorco de Aserrí {% endblock %}

{% block content %}

{# esto coloca 5 líneas de espacio vertical #}
<div class="custom-vertical-space"></div>

<h1>Vuelta de Jorco de Aserrí</h1>

<p> El territorio del distrito de Vuelta del Jorco es de 22.04 km<sup>2</sup> y se encuentra a 1120 msnm. Para el Censo del 2011, su población total alcanzó los 6 499 habitantes, distribuida entre 3 308 mujeres y 3 191 hombres. La densidad poblacional fue de 291,2 habitantes por km<sup>2</sup>. Sin embargo, las proyecciones del INEC para el 2022 indican que la población alcanzará los 7 342.</p> 
<p> La localidad colinda con otros tres distritos de Aserrí: al norte con Tarbaca; al sureste con Monterrey y al este con San Gabriel; también, limita con el cantón de Acosta. Este distrito compuesto por los poblados del Calvario, Ceiba Alta (parte), Jocotal, Legua de Naranjo, Mangos, Meseta, Monte Redondo, Ojo de Agua, Rosalía, Uruca. </p>

<!-- Insertar imagen de gráfico poblacional --> 

<img src="pobl_vuelta_jorco.png">

<p> La fundación de este poblado se llevó a cabo en 1882, convirtiéndose así, en el tercer distrito del cantón de Aserrí. Adicionalmente, se cree que su topónimo está relacionado con el río Jorco. Según el lingüista Miguel Ángel Pacheco, es posible que el nombre del río provenga del vocablo indígena huetar “jorco”, el cual se relaciona con el nombre de un árbol de la especie <i>Rheedia edulis</i>. </p> 
<p> Se estima que el distrito comenzó a desarrollarse durante la década de los setenta, justo cuando se inicia el acceso a los servicios públicos en Vuelta de Jorco. En el pasado, las construcciones daban directamente en la calle, no obstante, a partir de los setentas, el aspecto del pueblo cambia, dejando de lado, este estilo de construcción. Gracias a este desarrollo, en Vuelta de Jorco se instaló el Cine Lisseth, el cual fue propiedad de Hormidas Fallas. Fue este cine el que proveyó de entretenimiento a los lugareños entre las décadas de 1950 y 1970. </p> 

<!-- Material consultado -->

<h3> Bibliografía </h3>
<br> Instituto Nacional de Estadísticas y Censos. (2019). Costa Rica: Área en kilómetros cuadrados, según provincia, cantón y distrito administrativo 2019. Recuperado de <a href="https://www.inec.go.cr/documento/poblacion-08-costa-rica-area-en-kilometros-cuadrados-segun-provincia-canton-y-distrito-0">https://www.inec.go.cr/documento/poblacion-08-costa-rica-area-en-kilometros-cuadrados-segun-provincia-canton-y-distrito-0</a>
<p>  Instituto Nacional de Estadísticas y Censos. (2013). Área en kilómetros cuadrados, según provincia, cantón y distrito administrativo 2013.  Recuperado de <a href="https://www.inec.cr/anuario-estadistico/anuario-estadistico-geografia">https://www.inec.cr/anuario-estadistico/anuario-estadistico-geografia </a> 
<br>Instituto Nacional de Estadísticas y Censos. (2011). Costa Rica: Indicadores demográficos según cantón y distrito. Censo 2011. Recuperado de <a href="https://www.inec.cr/censos/censos-2011?keys=poblaci%C3%B3n+&at=All&prd=All&field_anio_documento_value%5Bvalue%5D%5Bdate%5D=">https://www.inec.cr/censos/censos-2011?keys=poblaci%C3%B3n+&at=All&prd=All&field_anio_documento_value%5Bvalue%5D%5Bdate%5D=</a> 
<br> Instituto Nacional de Estadísticas y Censos. (2011). Costa Rica: Población total proyectada al 30 de juniopor grupos de edades, según provincia, cantón, distrito y sexo. Recuperado de <a href="https://www.inec.cr/poblacion/estimaciones-y-proyecciones-de-poblacion"> https://www.inec.cr/poblacion/estimaciones-y-proyecciones-de-poblacion </a>
<br> Mapas de Costa Rica. (2022). Mapas del cantón de Aserrí. Recuperado de <a href="http://mapasdecostarica.blogspot.com/2014/09/6-aserri.html."> http://mapasdecostarica.blogspot.com/2014/09/6-aserri.html </a>
<br> Marín, V. (25 de febrero de 2018).El Cine Lisseth hizo historia en Jorco. El jornal. Recuperado de <a href= "https://eljornalcr.com/el-cine-lisseth-hizo-historia-en-jorco/">https://eljornalcr.com/el-cine-lisseth-hizo-historia-en-jorco/</a>
<br>Quesada Pacheco, M.A. (2006). Toponimía indígena de Costa Rica. <i> Filología y Lingüística XXXII. </i> (2): 203-259 , 2006. ISSN: 0377-628X. 
<br>Sistema Costarricense de Información Jurídica. (2022). Decreto Ejecutivo 37559. Recuperado de <a href
=”http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_articulo.aspx?param1=NRA&nValor1=1&nValor2=74467&nValor3=91983&nValor5=3”> http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_articulo.aspx?param1=NRA&nValor1=1&nValor2=74467&nValor3=91983&nValor5=3 </a>
<br> Ulibarri, A. (25 de abril de 2018). Facetas del Terruño - Vuelta de Jorco, orgullo de Aserrí 28 abril 1999. Recuperado de <a href="https://www.youtube.com/watch?v=ihjVqLL6t9Q">https://www.youtube.com/watch?v=ihjVqLL6t9Q</a>
<br> Wikidat. (2022). Vuelta del Jorco. Recuperado de <a href="https://es.wikidat.com/info/vuelta-de-jorco">https://es.wikidat.com/info/vuelta-de-jorco</a>
</p>

<!-- Zona de peligro -->

{% endblock %}
