{% extends 'base.html'%}

{% block page_title %} Nuestras comunidades: Tarbaca de Aserrí {% endblock %}

{% block content %}

{# esto coloca 5 líneas de espacio vertical #}
<div class="custom-vertical-space"></div>

<h1>Tarbaca de Aserrí</h1>

<p>Tarbaca es un distrito perteneciente al cantón Aserrí, ubicado a 19.7 km de San José. Posee una extensión de 15.33km<sup>2</sup> y limita al norte con el distrito de Aserrí, al oeste con el cantón de Acosta, al sur con el distrito Vuelta de Jorco y al este con el cantón de Desamparados; adiccionalemente, se eleva a 1798 m.s.n.m. Comprende los poblados de Bajo Cedral, Bajos de Praga, Cedral, El Tigre, Kamaquiri, dicho poblado es compartido con San Gabriel, La Joya, Máquina Vieja, Tarbaca centro y Tigre.</p>
<p> Conforme al Censo 2011 (INEC), la población de Tarbaca cuenta con 1 446 habitantes, la cual se divide entre 692 mujeres y 754 hombres. Asimismo, posee una densidad poblacional de 103,7 habitantes por km<sup>2</sup>.  Según proyecciones del INEC para el año 2022, se espera que se alcance una población de 1 676 habitantes, esto implica un aumento de 191 habitantes en la zona. Este es el segundo distrito de Aserrí, sin embargo, en términos de cantidad de habitantes posee el sexto lugar, siendo superado por el distrito de la Legua, el cual posee una proyección de 1 748 habitantes para el presente año.</p>

<!-- Insertar imagen de población -->

<img src="pobl_tarbaca.png" alt="'Gráfico poblacional para el distrito de Tarbaca">

<p>Históricamente, este distrito fue fundado el 27 de noviembre de 1882 y su nombre, Tarbaca, es una palabra de origen indígena huetar que significa “tierra infértil”, debido a que sus largos senderos de bosques no fueron utilizados por los indígenas para la siembra de cultivos ni el pastoreo de animales. Esta situación se mantiene en la actualidad, dado que estas tierras son de vocación forestal, es decir, se utilizan para la plantación de árboles de ciprés, los cuales son cultivados durante todo el año y en la época navideña son talados y vendidos. </p>
<p> Pese a que la venta de árboles representa parte de la actividad comercial del sitio, durante el resto del año, la dinámica económica se centra en los múltiples restaurantes presentes a lo largo de la zona, los cuales ofrecen una espectacular vista nocturna de las luces que adornan al cantón de Desamparados. Este es uno de sus principales atractivos turísticos. </p>
<p> A causa de los establecimientos poblacionales en Aserrí, se ha registrado una pérdida del entorno natural, por lo que los osos perezosos que habitaron la zona, se desplazaron hacia el distrito de Tarbaca. Otro aspecto a resaltar es que de los bosques nubosos presentes en esta zona nacen cerca de 300 nacientes de agua, las cuales aportan su líquido a las poblaciones de Aserrí, Desamparados, Acosta, Alajuelita y Escazú, por esto, Tarbaca se ha convertido en una de las zonas de recarga hídrica más importantes del Valle Central. </p>

<!-- Material consultado -->

<h3> Bibliografía </h3>
<br> Instituto Nacional de Estadísticas y Censos. (2019). Costa Rica: Área en kilómetros cuadrados, según provincia, cantón y distrito administrativo 2019. Recuperado de <a href="https://www.inec.go.cr/documento/poblacion-08-costa-rica-area-en-kilometros-cuadrados-segun-provincia-canton-y-distrito-0">https://www.inec.go.cr/documento/poblacion-08-costa-rica-area-en-kilometros-cuadrados-segun-provincia-canton-y-distrito-0</a>
<p>  Instituto Nacional de Estadísticas y Censos. (2013). Área en kilómetros cuadrados, según provincia, cantón y distrito administrativo 2013.  Recuperado de <a href="https://www.inec.cr/anuario-estadistico/anuario-estadistico-geografia">https://www.inec.cr/anuario-estadistico/anuario-estadistico-geografia </a> 
<br>Instituto Nacional de Estadísticas y Censos. (2011). Costa Rica: Indicadores demográficos según cantón y distrito. Censo 2011. Recuperado de <a href="https://www.inec.cr/censos/censos-2011?keys=poblaci%C3%B3n+&at=All&prd=All&field_anio_documento_value%5Bvalue%5D%5Bdate%5D=">https://www.inec.cr/censos/censos-2011?keys=poblaci%C3%B3n+&at=All&prd=All&field_anio_documento_value%5Bvalue%5D%5Bdate%5D=</a> 
<br> Instituto Nacional de Estadísticas y Censos. (2011). Costa Rica: Población total proyectada al 30 de juniopor grupos de edades, según provincia, cantón, distrito y sexo. Recuperado de <a href="https://www.inec.cr/poblacion/estimaciones-y-proyecciones-de-poblacion"> https://www.inec.cr/poblacion/estimaciones-y-proyecciones-de-poblacion </a>
<br> Mapas de Costa Rica. (2022). Mapas del cantón de Aserrí. Recuperado de <a href="http://mapasdecostarica.blogspot.com/2014/09/6-aserri.html."> http://mapasdecostarica.blogspot.com/2014/09/6-aserri.html </a>
<br> Marín, V. (25 de febrero de 2018).El Cine Lisseth hizo historia en Jorco. El jornal. Recuperado de <a href= "https://eljornalcr.com/el-cine-lisseth-hizo-historia-en-jorco/">https://eljornalcr.com/el-cine-lisseth-hizo-historia-en-jorco/</a>
<br>Quesada Pacheco, M.A. (2006). Toponimía indígena de Costa Rica. <i> Filología y Lingüística XXXII. </i> (2): 203-259 , 2006. ISSN: 0377-628X. 
<br>Sistema Costarricense de Información Jurídica. (2022). Decreto Ejecutivo 37559. Recuperado de <a href
=”http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_articulo.aspx?param1=NRA&nValor1=1&nValor2=74467&nValor3=91983&nValor5=3”> http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_articulo.aspx?param1=NRA&nValor1=1&nValor2=74467&nValor3=91983&nValor5=3 </a>
<br> Ulibarri, A. (25 de abril de 2018). Facetas del Terruño - Vuelta de Jorco, orgullo de Aserrí 28 abril 1999. Recuperado de <a href="https://www.youtube.com/watch?v=ihjVqLL6t9Q">https://www.youtube.com/watch?v=ihjVqLL6t9Q</a>
<br> Wikidat. (2022). Vuelta del Jorco. Recuperado de <a href="https://es.wikidat.com/info/vuelta-de-jorco">https://es.wikidat.com/info/vuelta-de-jorco</a>
</p>

<!-- Zona de peligro -->

{% endblock %}
