# Directories
__pycache__*
__init__.py
migrations*

# Files
*.o
*.pyc
*.zip
*.tar.*

# Environments
.env
venv_server*
secrets.py
staticfiles

# Nodejs:
node_modules

# Junk data
back_up*
backup/
*backup*