{% extends 'base.html'%}

{% load static %}

{% block page_title %} Empresa {% endblock %}

{% block content %}

<!-- Nuestra historia -->

<section id="historia">

<!-- Hero Section -->
<div class="d-lg-flex position-relative">
    <div class="container d-lg-flex align-items-lg-center space-top-2 space-lg-0 min-vh-lg-100">
      <!-- Content -->
      <div class="w-md-100">
        <div class="row">
          <div class="col-lg-5">
            <div class="mb-5 mt-11">
              <h1 class="display-4 mb-3">Transportes San&nbsp;Gabriel</h1>
              <p class="lead">Transportes San Gabriel de Aserrí opera en la región Caraigres desde setiembre del 2005, con el objetivo de brindar un servicio de calidad, seguro, eficaz e innovador.</p>
            </div>
  
            <a class="btn btn-primary btn-wide transition-3d-hover" href="/contacto"><i class="fas fa-envelope"></i> &nbsp; Contacto</a>
            <a class="btn btn-link btn-wide" href="/contacto/#preguntas">Preguntas frecuentes <i class="fas fa-angle-right fa-sm ml-1"></i></a>
          </div>
        </div>
      </div>
      <!-- End Content -->
  
      <!-- SVG Shape -->
      <figure class="col-lg-7 col-xl-6 d-none d-lg-block position-absolute top-0 right-0 pr-0 ie-main-hero" style="margin-top: 6.75rem;">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1137.5 979.2">
          <path fill="#F9FBFF" d="M565.5,957.4c81.1-7.4,155.5-49.3,202.4-115.7C840,739.8,857,570,510.7,348.3C-35.5-1.5-4.2,340.3,2.7,389
            c0.7,4.7,1.2,9.5,1.7,14.2l29.3,321c14,154.2,150.6,267.8,304.9,253.8L565.5,957.4z"/>
          <defs>
            <path id="mainHeroSVG1" d="M1137.5,0H450.4l-278,279.7C22.4,430.6,24.3,675,176.8,823.5l0,0C316.9,960,537.7,968.7,688.2,843.6l449.3-373.4V0z"/>
          </defs>
          <clipPath id="mainHeroSVG2">
            <use xlink:href="#mainHeroSVG1"/>
          </clipPath>
          <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#mainHeroSVG2)">
            <image width="750" height="750" xlink:href="{% static '/img/450x450/sangabriel.png' %}" transform="matrix(1.4462 0 0 1.4448 52.8755 0)"></image>
          </g>
        </svg>
        <p><small>Fotografía: vista área de San Gabriel de Aserrí, por <a href="https://www.instagram.com/abarca_isc/"><i class="fab fa-instagram"></i> Isaac Abarca Padilla</a>.</small></p>
      </figure>
      <!-- End SVG Shape -->
    </div>
  </div>
  <!-- End Hero Section -->

</section>


<!-- Datos generales -->

<section id="datos">

<!-- Features Section -->
<div class="container space-2">
    <div class="row justify-content-lg-between">
      <div class="col-lg-5 order-lg-2 pl-lg-0">
        <div class="bg-img-hero h-100 min-h-450rem rounded-lg" style="background-image: url({% static '/img/900x900/acosta.png' %});"></div>
        <p><small>Fotografía: vista área de San Ignacio de Acosta, por <a href="https://www.instagram.com/abarca_isc/"><i class="fab fa-instagram"></i> Isaac Abarca Padilla</a>.</small></p>
      </div>
      <hr>
      <div class="col-lg-6 order-lg-1">
        <div class="pt-8 pb-lg-8">
          <!-- Title -->
          <div class="mb-5 mb-md-7">
            <h2 class="mb-3">Nuestra empresa en números</h2>
            <p>Iniciamos nuestras operaciones con 6 unidades y 9 colaboradores de la zona. Hoy en día tenemos un gran equipo comprometido con la calidad del servicio a la comunidad.</p>
          </div>
          <!-- End Title -->
  
          <div class="row">
            <div class="col-6 mb-3 mb-md-5">
              <div class="pr-lg-4">
                <span class="h2 text-primary"><i class="fas fa-bus"></i></span> &nbsp;
                <span class="js-counter h2 text-primary">38</span>
                <p><strong class="text-primary text-highlight-primary">Autobuses</strong> de cómodos asientos y en conformidad con la Ley 7600.</p>
              </div>
            </div>
  
            <div class="col-6 mb-3 mb-md-5">
              <div class="pr-lg-4">
                <span class="h2 text-primary"><i class="fas fa-sync-alt"></i></span> &nbsp;
                <span class="js-counter h2 text-primary">200</span>
                <p><strong class="text-primary text-highlight-primary">Viajes semanales</strong> hacia y desde San José en nuestras tres rutas.</p>
              </div>
            </div>
  
            <div class="col-6">
              <div class="pr-lg-4">
                <span class="h2 text-primary"><i class="fas fa-users-cog"></i></span> &nbsp;
                <span class="js-counter h2 text-primary">64</span>
                <p><strong class="text-primary text-highlight-primary">Colaboradores</strong> en la administración, mantenimiento y operación de nuestra empresa y autobuses.</p>
              </div>
            </div>
  
            <div class="col-6">
              <div class="pr-lg-4">
                <span class="h2 text-primary"><i class="fas fa-users"></i></span> &nbsp;
                <span class="js-counter h2 text-primary" data-hs-counter-options='{"isCommaSeparated": true}'>100000</span>
                <p><strong class="text-primary text-highlight-primary">Usuarios</strong> mensuales de nuestros servicios de transporte público.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Features Section -->

</section>

<!-- Reseña histórica 

<section id="resena">

    <hr>
    <h2>Reseña</h2>

    <p>{{ empresa.resena|safe }}</p>

</section>
-->

<!-- Transparencia -->

<section id="transparencia">

    <hr>
    <h2>Transparencia</h2>

<ol class="fa-ul">
    <li><span class="fa-li"><i class="fas fa-bus"></i></span>Seguimos los lineamientos del <a href="https://www.ctp.go.cr/">Consejo de Transporte Público</a> (CTP).</li>
    <li><span class="fa-li"><i class="fas fa-balance-scale"></i></span>Seguimos los lineamientos de la <a href="https://aresep.go.cr/autobus">Asociación Reguladora de Servicios Públicos</a> (ARESEP).</li>
    <li><span class="fa-li"><i class="fas fa-wheelchair"></i></span>Seguimos la <a href="http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_texto_completo.aspx?param1=NRTC&nValor1=1&nValor2=53160&nValor3=110485&strTipM=TC">Ley 7600</a> y sus reformas.</li>
    <li><span class="fa-li"><i class="fas fa-school"></i></span>Apoyamos el progreso comunal en conjunto con las Asociaciones de Desarrollo Integral.</li> 
</ol>

<p>
  Contamos con asesorías externas que capacita a nuestro personal en materia operativa, legal, tarifario y de desarrollo humano que garantiza nuestra continua optimización de servicio.
</p>

</section>

<!-- Personal -->

<section id="personal">

    <hr>
    <h2>Nuestro personal</h2>

    <p>Iniciamos nuestras operaciones con 6 unidades y 9 colaboradores de la zona. Hoy en día tenemos un gran equipo comprometido con la calidad del servicio a la comunidad.</p>

    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#funcionarios" role="button" aria-expanded="false" aria-controls="funcionarios">
        Mostrar personal
      </a>
    </p>
    
    <div class="collapse" id="funcionarios">

      <div class="row mx-n2 mb-5">
        {% for funcionario in funcionarios %}
        <div class="col-sm-6 col-lg-3 px-2 mb-3">
        <!-- Team -->
        <div class="card h-100 transition-3d-hover">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img" src="http://161.35.54.122:10066/perfil/imagenes/{{ funcionario.url_site }}" alt="{{ funcionario.nombre }} - {{ funcionario.cargo }}">
            </div>

            <span class="d-block small font-weight-bold text-cap mb-1">{{ funcionario.cargo }}</span>
            <h4 class="text-lh-sm">{{ funcionario.nombre }}</h4>
            <!--<p class="font-size-1">Mi nombre es {{ funcionario.nombre }} mi cargo es {{ funcionario.cargo }}</p> -->
          </div>
        </div>
        </div>
        {% endfor %}
      </div>

    </div>

</section>

<!-- Botón "Go To" para subir al principio -->
<a class="js-go-to go-to position-fixed" href="#" style="visibility: hidden;"
    data-hs-go-to-options='{
     "offsetTop": 700,
     "position": {
       "init": {
         "right": 15
       },
       "show": {
         "bottom": 15
       },
       "hide": {
         "bottom": -15
       }
     }
   }'>
  <i class="fas fa-arrow-up"></i>
</a>

{% endblock %}
