{% extends 'base.html'%}

{% block page_title %} Empresa {% endblock %}

{% block content %}

<br/>.<br/>.<br/>.<br/>.<br/>.

<!-- Datos generales -->

<section id="datos">

    <hr>
    <h2>Datos generales</h2>

    <table class="table table-borderless">
        <tr>
            <th class="text-right" scope="row">Colaboradores</th>
            <td class="text-center"><i class="fas fa-users"></i></td>
            <td>{{ empresa.colaboradores }}</td>
        </tr>
        <tr>
            <th class="text-right" scope="row">Buses</th>
            <td class="text-center"><i class="fas fa-bus"></i></td>
            <td>{{ empresa.buses }}</td>
        </tr>
        <tr>
            <th class="text-right" scope="row">Ubicación</th>
            <td class="text-center"><i class="fas fa-map-marked-alt"></i></td>
            <td>{{ empresa.direccion }}</td>
        </tr>
        <tr>
            <th class="text-right" scope="row">Fundación</th>
            <td class="text-center"><i class="fas fa-history"></i></td>
            <td>{{ empresa.fundacion }}</td>
        </tr>
    </table>

</section>

<!-- Reseña histórica -->

<section id="resena">

    <hr>
    <h2>Reseña</h2>

    <p>{{ empresa.resena|safe }}</p>

    <h3>Misión</h3>

    <h3>Visión</h3>

</section>

<!-- Buses -->

<section id="buses">
    
    <!-- Carrousel de fotografías de buses (actuales e históricas) -->
    
    <hr>
    <h2>Nuestros buses</h2>

</section>

<!-- Buses del pasado -->

<section id="buses">
    
    <!-- Carrousel de fotografías de buses (actuales e históricas) -->
    
    <hr>
    <h2>Buses del pasado</h2>

</section>

<!-- Personal -->

<section id="personal">
    
    <hr>
    <h2>Nuestro personal</h2>

    <p>Una descripción del personal, pero las fotos y lo demás está en otra página (para mantener una pizca de privacidad).</p>

    <p><a href="/nosotros/personal/">Personal</a></p>
    
</section>

{% endblock %}