{% extends 'base.html'%}

{% block page_title %} Nosotros {% endblock %}

{% block titulo %} Nuestra empresa {% endblock %}

{% block subtitulo %}
<!--
    <div class="container text-center">
        <a class="btn btn-outline-light" href="#datos" role="button">Datos</a>
        <a class="btn btn-outline-light" href="#resena" role="button">Reseña</a>
        <a class="btn btn-outline-light" href="#buses" role="button">Buses</a>
        <a class="btn btn-outline-light" href="#personal" role="button">Personal</a>
    </div>
-->
{% endblock %}

{% block content %}

<div class="text-center">
    <div class="btn-group btn-group-sm text-center" role="group" aria-label="Basic example">
        <a class="btn btn-info" href="#datos" type="button">Datos</a>
        <a class="btn btn-info" href="#resena" type="button">Reseña</a>    
        <a class="btn btn-info" href="#personal" type="button">Personal</a>
    </div>
</div>

<!-- Datos generales -->

<section id="datos">

    <hr>
    <h2>Datos generales</h2>

    <table class="table table-borderless">
        <tr>
            <th class="text-right" scope="row">Colaboradores</th>
            <td class="text-center"><i class="fas fa-users"></i></td>
            <td>{{ empresa.colaboradores }}</td>
        </tr>
        <tr>
            <th class="text-right" scope="row">Buses</th>
            <td class="text-center"><i class="fas fa-bus"></i></td>
            <td>{{ empresa.buses }}</td>
        </tr>
        <tr>
            <th class="text-right" scope="row">Ubicación</th>
            <td class="text-center"><i class="fas fa-map-marked-alt"></i></td>
            <td>{{ empresa.direccion }}</td>
        </tr>
        <tr>
            <th class="text-right" scope="row">Fundación</th>
            <td class="text-center"><i class="fas fa-history"></i></td>
            <td>{{ empresa.fundacion }}</td>
        </tr>
    </table>

</section>

<!-- Reseña histórica -->

<section id="resena">

    <hr>
    <h2>Reseña</h2>

    <p>{{ empresa.resena|safe }}</p>

</section>

<!-- Personal -->

<section id="personal">
    
    <hr>
    <h2>Nuestro personal</h2>

    <p></p>

    <p><a href='/nosotros/personal' class="btn btn-dark" role="button" aria-pressed="true">Ver lista de Personal</a></p>
    
</section>

{% endblock %}