{% extends 'base.html'%}
{% load static %}
{% block page_title %} Personal {% endblock %}

{% block custom_header %}
<!-- Aquí el source del CSS específico de cada página -->
<!-- Hoja de estilos de las cartas de presentación -->

<link rel="stylesheet" href="{% static 'css/team_cards.css' %}">
{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Lista del personal</h1>
<p>Nuestro personal</p>
<br>

<div class="row">
    {% for funcionario in funcionarios %}
    <div class="column">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="http://161.35.54.122:10066/perfil/imagenes/{{ funcionario.url_site }}" class="rounded-circle"
                 alt="{{ funcionario.nombre }} - {{ funcionario.cargo }}" style="width:175px;height:175px;">
                 <h2>{{ funcionario.nombre }}</h2>
                 <p>{{ funcionario.cargo }}</p>
              </div>
              <div class="flip-card-back">
               
                <a href='/nosotros/funcionario_{{ funcionario.id }}'></a>
                <h1>{{ funcionario.nombre }}</h1>
                <p>Mi nombre es {{ funcionario.nombre }} mi cargo es {{ funcionario.cargo }}</p>
                <a href='/nosotros/funcionario_{{ funcionario.id }}' class="btn btn-dark" role="button" aria-pressed="true">Contacto</a>
              </div>
            </div>
          </div>
        
    </div>
    {% endfor %}
</div>
</div>


{% endblock %}

