{% extends 'base.html'%}
{% load static %}
{% block page_title %} Personal {% endblock %}

{% block custom_header %}
<!-- Aquí el source del CSS específico de cada página -->
<!-- Hoja de estilos de las cartas de presentación -->

<link rel="stylesheet" href="{% static 'css/team_cards.css' %}">
{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Lista del personal responsive</h1>
<p>Una lista cuadriculada de personal de la empresa, con foto, nombre y puesto</p>
<br>

<div class="row">
    {% for funcionario in funcionarios %}
    <div class="column">
        <a href='/nosotros/funcionario_{{ funcionario.id }}'>
            <div class="card"><!-- FIXME: fetch del sitio estático de la empresa -->
            <img src="http://161.35.54.122:10066/perfil/imagenes/{{ funcionario.url_site }}"
                 alt="{{ funcionario.nombre }} - {{ funcionario.cargo }}" style="width:100%">
            <div class="container">
                <h2>{{ funcionario.nombre }}</h2>
                <p class="title">{{ funcionario.cargo }}</p>
                <p>Lorem ipsum ipsum lorem.</p>
                <p>ejemplo@tsgcr.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
