{% extends 'base.html'%}
{% load static %}
{% block page_title %} Personal {% endblock %}

{% block custom_header %}
<!-- Aquí el source del CSS específico de cada página -->
<!-- Hoja de estilos de las cartas de presentación -->

<link rel="stylesheet" href="{% static 'css/team_cards.css' %}">
{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<br>
<br>
<br>
<br>
<h1>Lista del personal</h1>
<p>Nuestro personal</p>
<br>

<div class="row mx-n2 mb-5">
    {% for funcionario in funcionarios %}
    <div class="col-sm-6 col-lg-3 px-2 mb-3">
          <!-- Team -->
    <div class="card h-100 transition-3d-hover">
      <div class="card-body">
          <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img" src="{% static '/img/personal/' %}{{ funcionario.url_site }}" alt="{{ funcionario.nombre }} - {{ funcionario.cargo }}">
        </div>

        <span class="d-block small font-weight-bold text-cap mb-1">{{ funcionario.cargo }}</span>
        <h4 class="text-lh-sm">{{ funcionario.nombre }}</h4>
        <!--<p class="font-size-1">Mi nombre es {{ funcionario.nombre }} mi cargo es {{ funcionario.cargo }}</p> -->
      </div>
    </div>
    </div>
    {% endfor %}
</div>
</div>


{% endblock %}

