{% extends 'base.html'%}

{% block page_title %} Acerca de este sitio web {% endblock %}

{% block content %}

{# esto coloca 5 líneas de espacio vertical #}
<div class="custom-vertical-space"></div>

<h1>Acerca de este sitio web</h1>

<div class="card card-bordered">
    <div class="card-body lead">
        Este sitio web fue creado en colaboración con el Trabajo Comunal Universitario TC-691 "Tropicalización de la Tecnología", coordinado desde la <a href="https://eie.ucr.ac.cr/" target="_blank">Escuela de Ingeniería Eléctrica</a> de la <a href="https://www.ucr.ac.cr/" target="_blank">Universidad de Costa Rica</a>.
        <br> 
        <span class="small"><i class="fas fa-chalkboard-teacher text-primary"></i> &nbsp; Ver <a href="/presentacion" target="_blank">presentación</a> del sitio. </span>
    </div>
</div>

<br/>
<h2>Tecnologías</h2>

<dl>
    <dt><i class="fab fa-python"></i> Django</dt>
    <dd><i><a href="https://www.djangoproject.com/">Framework</a></i> en Python para el <i>back-end</i>.</dd>
    <dt><i class="fab fa-bootstrap"></i> Bootstrap</dt>
    <dd><i><a href="https://getbootstrap.com/">Framework</a></i> de HTML, CSS y JavaScript para el <i>front-end</i>.</dd>
    <dt><i class="fab fa-vuejs"></i> Vue.js</dt>
    <dd><i><a href="https://vuejs.org/">Framework</a></i> en JavaScript para aplicaciones (<i>widgets</i>) en el <i>front-end</i>.</dd>
</dl>

<h4>Licencias</h4>

<p class="small">
    <i class="fab fa-github"></i> <br> Este es un proyecto de software libre disponible en <a href="https://github.com/fabianabarca/buses" target="_blank">GitHub</a>.
</p>

<p class="small">
    <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-sa"></i>
    <br>
    Creative Commons 
    <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es">Atribución-CompartirIgual 4.0 Internacional (CC BY-SA 4.0)</a>.
</p>   

<hr>
<h2>Agradecimientos</h2>

<h3>Transportes San Gabriel</h3>

<dl>
    <dt>Melsen Herrera Corrales</dt> <dd>Gerente general</dd>
    <dt>Arianny Gamboa Díaz</dt> <dd>Asistente de operaciones</dd>
    <dt>Osvaldo López Jiménez</dt> <dd>Chofer de bus</dd>
</dl>

<h3>En las comunidades</h3>

<dl>
    <dt>Isaac Abarca Padilla <a href="https://www.instagram.com/abarca_isc/"><i class="fab fa-instagram"></i></a></dt> <dd>Fotografías aéreas</dd>
</dl>

<h3 id="amits">Amits</h3>

<p>
    Para el aprendizaje del desarrollo web y de otros temas relacionados para la creación de este sitio, tuvimos la invaluable colaboración de personas expertas en varias áreas, a quienes nos gusta llamar <strong>amigas y amigos del TCU</strong> (amits):
</p>

<dl>
    <dt>Fabián Meléndez</dt>    <dd>Ingeniero eléctrico, asesor en desarrollo web en Django</dd>
    <dt>Manuel Mojica</dt>      <dd>Comunicador, asesor en diseño de contenidos</dd>
    <dt>Silvia Mata</dt>        <dd>Diseñadora social, asesora en diseño de interactividad</dd>
    <dt>Andrés Arias</dt>       <dd>Programador, asesor en desarrollo en la nube</dd>
    <dt>Keren Ramírez</dt>      <dd>Diseñadora, asesora en experiencia e interfaz del usuario</dd>
    <dt>José David Vargas</dt>  <dd>Programador, asesor en desarrollo de software</dd>
</dl>

<hr>
<h2 id="estudiantes">Estudiantes de Trabajo Comunal Universitario</h2>

<ul>
    <li>Jeancarlo Hidalgo Ureña - <i>Ingeniería Eléctrica</i></li>
    <li>Róger Chacón Quintero - <i>Computación e Informática</i></li>
    <li>Gloriana Mora Villalta - <i>Computación e Informática</i></li>
    <li>Silvio Salazar Cabrera - <i>Computación e Informática</i></li>
    <li>Anyelo Lobo Cheloukhin - <i>Computación e Informática</i></li>
    <li>Jordi Louzao Von Breymann - <i>Ingeniería Eléctrica</i></li>
    <li>Luis Guillermo Ramírez Rodríguez - <i>Ingeniería Eléctrica</i></li>
    <li>David Retana Fernández - <i>Computación e Informática</i></li>
    <li>Diego Valladares Porras - <i>Ingeniería Eléctrica</i></li>
    <li>Brayan Méndez Picado - <i>Ingeniería Eléctrica</i></li>
    <li>Marisol Zeledón Córdoba - <i>Ingeniería Eléctrica</i></li>
    <li>Luis Carlos Solano Mora - <i>Ingeniería Eléctrica</i></li>
    <li>Santiago  Román Calvo - <i>Ingeniería Eléctrica</i></li>
    <li>Fabián Guerra Esquivel - <i>Ingeniería Eléctrica</i></li>
    <li>Jonathan Ramírez Hernández - <i>Ingeniería Eléctrica</i></li>
    <li>Daniel Brenes Segura - <i>Ingeniería Eléctrica</i></li>
    <li>Hermes Quijada Lagesen - <i>Ingeniería Eléctrica</i></li>
    <li>María Paula Ruiz Segura - <i>Ingeniería Eléctrica</i></li>
    <li>Silvia Campos Vargas - <i>Estadística</i></li>
    <li>Luis Antonio Jiménez Vásquez - <i>Arquitectura</i></li>
    <li>José Pablo Laurent Chaves - <i>Ingeniería Eléctrica</i></li>
    <li>Stacy Daniela Solís Cerdas - <i>Ingeniería Eléctrica</i></li>
    <li>Gloriana Arias Vargas - <i>Dirección de Empresas</i></li>
    <li>Paula Morera Gómez - <i>Dirección de Empresas</i></li>
    <li>María Laura Molina Cordero - <i>Comunicación Colectiva</i></li>
    <li>Gabriel Flores Hernández - <i>Inglés</i></li>
    <li>Carlos Mauricio Figueroa Jiménez - <i>Ingeniería Eléctrica</i></li>
    <li>Juan Manuel Chavarría Azofeifa - <i>Ingeniería Mecánica</i></li>
    <li>Luis José González Martínez - <i>Ingeniería Eléctrica</i></li>
    <li>Peter Antonio Gómez Quesada - <i>Ingeniería Eléctrica</i></li>
</ul>

<dl>
    <dt>Profesor coordinador</dt>
    <dd>Fabián Abarca Calderón</dd>
</dl>

<p class="text-center lead"><a href="https://accionsocial.ucr.ac.cr/" target="_blank">&num;SomosAcciónSocialUCR</a></p>

{% endblock %}
