{% extends 'base.html'%}

{% load static %}

{% block page_title %} Restricciones por COVID-19 {% endblock %}

{% block content %}

{# esto coloca 5 líneas de espacio vertical #}
<div class="custom-vertical-space"></div>

<h1>Restricciones por COVID&#8209;19</h1>

<p>
    <div class="card card-bordered">
        <div class="card-body">
            El país enfrenta una crisis sanitaria por la pandemia de SARS-CoV-2 que ha obligado a la implementación de restricciones sanitarias que afectan la movilidad y los servicios públicos y privados. Aquí hay un resumen de la información relevante para el transporte público y la movilidad vehicular. Por favor siempre consulte las fuentes oficiales y <strong>cuidémonos juntos</strong>. 
        </div>
    </div>
</p>

<h2>Medidas para el uso del transporte público</h2>

<p>Según <a href="https://www.ctp.go.cr/content/published/api/v1.1/assets/CONTFBD4EAB8277F40D8AFC06CB0C7DEB44F/native?cb=_cache_37f9&download=true&channelToken=20fd723fa43c4c03b656b74db78295f4">lineamientos</a> del Consejo de Transporte Público:</p>

<dl>
    <dt><i class="fas fa-head-side-mask"></i> &nbsp; Uso de mascarilla</dt>
    <dd>Es obligatorio el uso de mascarilla durante todo el recorrido del autobús para pasajeros y chofer.</dd>

    <dt><i class="fas fa-users-slash"></i> &nbsp; Sin pasajeros de pie</dt>
    <dd>No deben transportarse pasajeros de pie, excediendo la capacidad de personas sentadas en ningún momento. Los vehículos (autobuses y trenes), deben transportar como máximo la totalidad de pasajeros sentados.</dd>
    
    <dt><i class="fas fa-wind"></i> &nbsp; Adecuada ventilación natural</dt>
    <dd>Debe favorecerse en los vehículos la ventilación natural si las condiciones climáticas lo permiten.</dd>

    <dt><i class="fas fa-people-arrows"></i> &nbsp; Distancia social durante el abordaje</dt>
    <dd>Debe vigilarse, en las terminales de transporte público, por los supervisores o chequeadores que las personas accedan al transporte público respetando filas y el distanciamiento social de 1,8 metros previo y durante el abordaje.</dd>
    
    <dt><i class="fas fa-apple-alt"></i> &nbsp; Prohibida la ingesta de alimentos</dt>
    <dd>Durante todo el recorrido del autobús es prohibida la ingesta de alimentos y solamente se pueden consumir bebidas no alcohólicas.</dd>
    
    <dt><i class="fas fa-hand-sparkles"></i> &nbsp; Limpieza de autobuses</dt>
    <dd>Todas las unidades son desinfectadas periódicamente.</dd>
</dl>

<hr>
<h2>Restricción vehicular</h2>

<p>Información de la <a href="nZDBCoJAEIafxqszaZp2c4m0EjRJtL2Ehq2CuqKWr5_UJU0qmtsM3zf8M0AhBFpGt4xFbcbLKO_7I1VPG9fE2W6OtmnpKhqKR4i0tyTnoEIwAlRvhYZu28raQVlbINBffByUgcSTiIxoOtI__uum7z4dIe8XPIBPESeAQYYtUJbz">página</a> del Ministerio de Obras Pública y Transportes:</p>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    {# Esta variable resuelve desde el servidor la dirección de la imagen calendario de restricciones restric_calendar_url #}
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img class="d-block w-100" src="{{ restric_calendar_url }}">
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
</div>

<hr>
<h2>Sitios oficiales</h2>

<ul>
    <li><a href="https://covid19.go.cr/medidas-por-categoria/">Sitio de COVID-19 del Gobierno</a></li>
    <li><a href="https://www.ministeriodesalud.go.cr/">Ministerio de Salud</a></li>
    <li><a href="https://cne.go.cr/">Comisión Nacional de Emergencias</a></li>
</ul>

{% endblock %}
