{% extends 'base.html'%}

{% block page_title %} Transportes San Gabriel {% endblock %}

{% block titulo %} Buses de Acosta y San Gabriel {% endblock %}

{% block subtitulo %} 
  TSG es una empresa que aquí y allá y esto y lo otro.
{% endblock %}

{% block content %}

<!-- Tarjeta de bienvenida -->

<section>

</section>

<!-- Alertas -->

<section>

  <p class="mx-auto">
       <button type="button" class="btn btn-outline-dark"><i class="fas fa-exclamation-triangle"></i> Alertas de servicio <span class="badge badge-warning">3</span></button>
  </p>
  
  <!-- Alertas del formato GTFS Realtime 
  <div>
    <div>Íconos aquí (causa y efecto)</div>
    <h3>header_text</h3> <p>description_text</p>
  </div> -->

  <div id="carouselAlertas" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="alert alert-warning" role="alert">
          A simple primary alert—check it out!
        </div>
      </div>
      <div class="carousel-item">
        <div class="alert alert-danger" role="alert">
          A simple primary alert—check it out!
        </div>
      </div>
      <div class="carousel-item">
        <div class="alert alert-success" role="alert">
          A simple primary alert—check it out!
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="alert alert-warning" role="alert">
    A simple primary alert—check it out!
  </div>
  -->

</section>

<!-- Hora actual -->

<section>
  <p>
      <div class="row d-flex justify-content-center">
          <div class="card text-center border-primary" style="width: 16rem;">
              <div class="card-body bg-light text-dark">
                  <h3 id="DigitalCLOCK" onload="showTime()"></h3>
                  <small class="text-uppercase"><strong>{{ dia }}</strong> {{ fecha}} <br> {{mes}} {{ano}} </small>
              </div>
          </div>
      </div>    
  </p>
</section>

<!-- Tabla del próximo bus -->

<section class="row">

  <div class="col-sm">
  <!-- Tabla de próximos buses de Acosta -->
      <div class="card text-center shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
              <h3 class="card-title">San Ignacio de {{ routes.1.short_name }} <br> <span class="badge badge-primary">{{ routes.1.route_id }}</span></h3>
              <h4 class="card-subtitle text-muted">Próximos buses</h4>
              <p>
                  <table class="table">
                      <thead class="thead-dark">
                          <tr>
                              <th><i></i> {{ routes.1.short_name }}</th>
                              <th><i></i> San José</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="lead font-weight-bold">{{ next_bus_list_Aco.0 }}</td>
                              <td class="lead font-weight-bold">{{ next_bus_list_SJ_Aco.0 }}</td>
                          </tr>
                          <tr>
                              <td>{{ next_bus_list_Aco.1 }}</td>
                              <td>{{ next_bus_list_SJ_Aco.1 }}</td>
                          </tr>
                          <tr>
                              <td>{{ next_bus_list_Aco.2 }}</td>
                              <td>{{ next_bus_list_SJ_Aco.2 }}</td>
                          </tr>
                      </tbody>
                  </table>
              </p>
              <a href="/rutas/acosta" class="btn btn-primary">Ver ruta de Acosta</a>
          </div>
      </div>
  </div>
  <div class="col-sm">
      <!-- Tabla de próximos buses de San Gabriel -->
      <div class="card text-center shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
              <h3 class="card-title">{{ routes.0.short_name }} de Aserrí <br> <span class="badge badge-primary">{{ routes.0.route_id }}</span></h3>
              <h4 class="card-subtitle text-muted">Próximos buses</h4>
              <p>
                  <table class="table">
                      <thead class="thead-dark">
                          <tr>
                              <th><i></i> {{ routes.0.short_name }}</th>
                              <th><i></i> San José</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="lead font-weight-bold">{{ next_bus_list_SG.0 }}</td>
                              <td class="lead font-weight-bold">{{ next_bus_list_SJ_SG.0 }}</td>
                          </tr>
                          <tr>
                              <td>{{ next_bus_list_SG.1 }}</td>
                              <td>{{ next_bus_list_SJ_SG.1 }}</td>
                          </tr>
                          <tr>
                              <td>{{ next_bus_list_SG.2 }}</td>
                              <td>{{ next_bus_list_SJ_SG.2 }}</td>
                          </tr>
                      </tbody> 
                  </table>
              </p>
              <a href="/rutas/sangabriel" class="btn btn-success">Ver ruta de San Gabriel</a>
          </div>
      </div>
  </div>
</section>

<!-- Noticias -->

<section>

  <hr>
  <h2>Terminal de buses en San José</h2>

  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://static01.nyt.com/images/2020/11/03/obituaries/29yang-virus-lost/29yang-virus-lost-threeByTwoMediumAt2X.jpg?quality=75&auto=webp&disable=upscale&width=600" class="card-img" style="object-fit: cover;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dirección</h5>
          <p class="card-text">
            <ol class="fa-ul">
              <li><span class="fa-li"><i class="far fa-map"></i></span>Calle <strong>7</strong>, entre avenidas <strong>10</strong> y <strong>12.</strong></li>
              <li><span class="fa-li"><i class="fas fa-location-arrow"></i></span>200 metros sur de la esquina sureste del Parque de las Garantías Sociales.</li>
              <li><span class="fa-li"><i class="fab fa-waze"></i></span><a href="https://ul.waze.com/ul?ll=9.92929648%2C-84.07635212&navigate=yes&zoom=17">Dirección en Waze</a></li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Noticias -->

<section>

  <hr>
  <h2>Noticias</h2>

  <div id="carouselNoticias" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h4>Prueba 1</h4>
        <p>Este es un texto de prueba en un lugar de La Mancha, de cuyo nombre no quiero acordarme.</p>
        <!--<img src="..." class="d-block w-100" alt="...">-->
      </div>
      <div class="carousel-item">
        <h4>Prueba 2</h4>
        <p>Este es un texto de prueba en un lugar de La Mancha, de cuyo nombre no quiero acordarme.</p>
        <!--<img src="..." class="d-block w-100" alt="...">-->
      </div>
      <div class="carousel-item">
        <h4>Prueba 3</h4>
        <p>Este es un texto de prueba en un lugar de La Mancha, de cuyo nombre no quiero acordarme.</p>
        <!--<img src="..." class="d-block w-100" alt="...">-->
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carouselNoticias" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselNoticias" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>

</section>

{% endblock %}