{% extends 'base.html'%}

{% block page_title %} Transportes San Gabriel {% endblock %}

{% block titulo %} Buses de Acosta y San Gabriel {% endblock %}

{% block subtitulo %} 
  TSG es una empresa que aquí y allá y esto y lo otro.
{% endblock %}

{% block content %}

<!-- Provisional -->

<section>

  <h2>Rutas</h2>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for ruta in rutas %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ ruta.long_name }}</h5>
          <p class="card-text">{{ ruta.desc }}</p>
          <a href="rutas/{{ ruta.url }}" class="btn btn-primary">Ver ruta de {{ ruta.short_name }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Alertas -->

<section>
  
  <!-- Alertas del formato GTFS Realtime -->

</section>

<!-- Hora actual -->

<section>

</section>

<!-- Tabla del próximo bus -->

<section>

</section>

<!-- Noticias -->

<section>

</section>

<!-- Terminal de buses en San José -->

<section>

  <hr>
  <h2>Terminal de buses en San José</h2>

  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://static01.nyt.com/images/2020/11/03/obituaries/29yang-virus-lost/29yang-virus-lost-threeByTwoMediumAt2X.jpg" class="card-img" style="object-fit: cover;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dirección</h5>
          <p class="card-text">
            <ol class="fa-ul">
              <li><span class="fa-li"><i class="far fa-map"></i></span>Calle <strong>7</strong>, entre avenidas <strong>10</strong> y <strong>12.</strong></li>
              <li><span class="fa-li"><i class="fas fa-location-arrow"></i></span>200 metros sur de la esquina sureste del Parque de las Garantías Sociales.</li>
              <li><span class="fa-li"><i class="fab fa-waze"></i></span><a href="https://ul.waze.com/ul?ll=9.92929648%2C-84.07635212&navigate=yes&zoom=17">Dirección en Waze</a></li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}