{% extends 'base.html'%}

{% load static %}

{% block page_title %} Transportes San Gabriel {% endblock %}

{% block content %}

<!-- Provisional -->

<!-- Hero Section -->
<div class="position-relative">
  <div class="bg-img-hero">
    <div class="container space-top-3 space-bottom-3 position-relative z-index-2">
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9">
        <h1>Transportes San&nbsp;Gabriel</h1>
        <p class="lead">Esta es una nueva página web para facilitar la información del servicio de transporte público de nuestras rutas de autobuses.</p>
        <p><div class="alert alert-soft-secondary" role="alert">Servimos a comunidades de la región Caraigres en los cantones de <br> Acosta y Aserrí en San José, Costa Rica</div></p> 
      </div>

      <div class="row justify-content-center">
        
        <div class="col-md-4 mb-3 mb-md-0 mb-md-n11">
          <!-- Card -->
          <a class="card h-100 transition-3d-hover borde-color-sanluis" href="/rutas/acosta/">
            <div class="card-body p-lg-5">
              <figure class="max-w-8rem w-100 mx-auto mb-4">
                <i class="fas fa-bus fa-3x color-sanluis"></i>
              </figure>
              <h3 class="h3 text-center">San Ignacio de Acosta</h3>
              <p class="text-body mb-0">Esta ruta conecta <strong class="color-sanluis">San Luis</strong> o <strong class="color-turrujal">Turrujal</strong> vía San Ignacio de Acosta con San José centro, pasando por Vuelta de Jorco, Tarbaca, Aserrí y Desamparados.</p>
            </div>
            <div class="card-footer py-3 px-lg-5 text-white text-uppercase small fondo-color-sanluis">
              <i class="fas fa-plus-circle"></i> Horarios, tarifas, mapas y paradas
            </div>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-md-4 mb-3 mb-md-0 mb-md-n11">
          <!-- Card -->
          <a class="card h-100 transition-3d-hover borde-color-sangabriel" href="/rutas/sangabriel/">
            <div class="card-body p-lg-5">
              <figure class="max-w-8rem w-100 mx-auto mb-4">
                <i class="fas fa-bus fa-3x color-sangabriel"></i>
              </figure>
              <h3 class="h3 text-center">San Gabriel de Aserrí</h3>
              <p class="text-body mb-0">Esta ruta conecta <strong class="color-sangabriel">San Gabriel</strong> de Aserrí con San José centro, pasando por La Fila del Rosario, Tarbaca, Aserrí y Desamparados.</p>
            </div>
            <div class="card-footer py-3 px-lg-5 text-white text-uppercase small fondo-color-sangabriel">
              <i class="fas fa-plus-circle"></i> Horarios, tarifas, mapas y paradas
            </div>
          </a>
          <!-- End Card -->
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Alertas -->

  <!-- Alerta sobre Google Maps -->
  <div class="alert alert-soft-info" role="alert">
    <p>
        <ol class="fa-ul">
            <li><span class="fa-li"><i class="fab fa-google"></i></span> <strong>¡Ya estamos en <span style="color: #4885ed;">G</span><a style="color: #db3236;">o</a><a style="color: #f4c20d;">o</a><a style="color: #4885ed;">g</a><a style="color: #3cba54;">l</a><a style="color: #db3236;">e</a> <a href="http://maps.google.com/">Maps</a>!</strong></li>
            <ol class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-map-marked-alt"></i></span> Somos de las primeras agencias de transporte del país con información de horarios, tarifas y más en esta aplicación.</li>
          </ol>
        </ol>
    </p>  
  </div>

  <!-- Alerta sobre COVID-19 -->
  <div class="alert alert-soft-danger" role="alert">
    <p>
        <ol class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-viruses"></i></span>Hay <a href="/covid19">restricciones sanitarias <i class="fas fa-info-circle"></i></a> vigentes para el uso del transporte público por la emergencia de COVID-19.</li>
        </ol>
    </p>  
  </div>


<section>

  <!-- Alertas del formato GTFS Realtime -->

</section>

{% endblock %}
