{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Desarrollo web para el transporte público</title>
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="{% static 'svg/logos/TCU-favicon.png' %}">

		<!-- Estilos de Reveal.js -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/reset.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/reveal.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/theme/white.min.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/plugin/highlight/monokai.min.css" id="highlight-theme">

		<!-- Colores de rutas -->
		<style>
			.color-sanluis {
				color: #FFA500;
			}
			.color-turrujal {
				color: #FF4500;
			}
			.color-sangabriel {
				color: #008000;
			}
			.fondo-color-sanluis {
				background-color: #FFA500;
				color: black;
			}
			.fondo-color-turrujal {
				background-color: #FF4500;
				color: white;
			}
			.fondo-color-sangabriel {
				background-color: #008000;
				color: white;
			}
			.borde-color-sanluis {
				border-color: #FFA500;
				border-width: 1px;
			}
			.borde-color-turrujal {
				border-color: #FF4500;
				border-width: 1px;
			}
			.borde-color-sangabriel {
				border-color: #008000;
				border-width: 1px;
			}
		</style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

<!-- Contenido de la presentación -->

<!-- 1. Portada -->

<section>
	<h1>Portal comunitario</h1>
	<h4>con información del transporte público</h4>
	<hr>
	<p>Un desarrollo web de</p>
	<h4>TC-691 "Tropicalización de la Tecnología"</h4>
	<small>Coordinador: Fabián Abarca Calderón</small>
</section>

<!-- 2. Presentación del TCU -->

<section>

	<section>
		<p>TC-691</p>
		<h2>Tropicalización de la Tecnología</h2>
		<p>
			"Tropicalizar" la tecnología consiste en promover la integración de tecnología a las necesidades locales, facilitando el intercambio de conocimiento y la formación de capacidades alrededor de la tecnología.
		</p>
	</section>

	<section>
		<p>TC-691 es coordinado desde la <a href="https://eie.ucr.ac.cr/">Escuela de Ingeniería Eléctrica</a> de la <a href="https://www.ucr.ac.cr/">Universidad de Costa Rica</a>.</p>
	</section>

</section>

<!-- 3. Presentación del proyecto -->

<section>
	<h4>Información del transporte público:</h4>
	<h2>Un portal comunitario</h2>
	<p></p>
</section>

<!-- 4. Motivación del proyecto -->

<section>

	<section>
		<h2>Motivación del proyecto</h2>
	</section>
	
	<section>
		<h3>¿Para quiénes?</h3>
		<p>Habitantes de zonas rurales que buscan mejores oportunidades laborales y educativas fuera de sus comunidades y por ello deben trasladarse grandes distancias diariamente a zonas urbanas. Muchas de estas personas dependen del transporte público que, en Costa Rica, típicamente presenta problemas de información y de planificación central.</p>
	</section>

	<section>
		<h3>¿Por qué?</h3>
		<p>El transporte público tiene un importante peso socioeconómico en poblaciones vulnerables y, por extensión, en la situación del país. Acercarnos a las y los usuarios de buses de zonas rurales nos permite entender el vínculo que existe entre una comunidad y su servicio de buses y reconocer las vulnerabilidades debidas a la lejanía, la falta de información, la infraestructura deficiente y otros factores.</p>
	</section>

	<section>
		<h3>¿Qué?</h3>
		<p>El trabajo realizado pone a disposición de la comunidad una herramienta web avanzada con información estandarizada para consultas sobre el transporte público de su comunidad. El suministro de información creado permite utilizar también Google Maps, y este es, a nuestro entender, el primer servicio de autobuses en el país que lo tiene.</p>
	</section>

	<section>
		<h3>¿Para qué?</h3>
		<p>La modernización del transporte público es un esfuerzo que requiere coordinación centralizada, sin embargo, este TCU fue concebido para trabajar en abordajes <i>bottom-up</i> ("de abajo hacia arriba") en el que las personas usuarias y las comunidades aportan soluciones desde su perspectiva y con las herramientas disponibles.</p>
	</section>

	<section>
		<h3>¿Cómo nos integramos?</h3>
		<p>El desarrollo de un sitio web no es solo una labor técnica ligada a la programación, sino que requiere de una multitud de abordajes para la identificación de necesidades y la creación de nuevos contenidos. Ejemplos de conocimientos que han contribuido para el desarrollo de este proyecto incluyen: ingeniería, estadística, administración, computación, arquitectura, inglés, comunicación colectiva y diseño gráfico.</p>
	</section>

	<section>
		<h3>¿Qué capacidades desarrollamos?</h3>
		<p>Para nuestro TCU el desarrollo web ha sido un aprendizaje iniciado en el 2020. Ahora que tenemos un expertise más consolidado, hemos ya compartido este conocimiento en talleres abiertos a la comunidad, con el objetivo de transferir habilidades técnicas y para sensibilizar a las personas sobre su importancia para la comunicación. Más allá del proyecto de autobuses, el desarrollo web es ahora una herramienta disponible para co-crear soluciones a otros problemas comunitarios.</p>
	</section>

</section>

<!-- 5. Demostración del proyecto -->

<section>

	<section>
		<h2>Demostración del proyecto</h2>
		<p>Página de pruebas: <a href="http://161.35.54.122/">http://161.35.54.122/</a></p>
	</section>

	<section>
		<h3>Observaciones previas</h3>
		<dl>
			<dt>Colores de rutas</dt>
			<dd>Elegimos colores de rutas (requisito de GTFS): </dd>
			<div style="text-align: center;">
				<strong class="color-sanluis">San Luis</strong> - <strong class="color-turrujal">Turrujal</strong> - <strong class="color-sangabriel">San Gabriel</strong>
			</div>
			<dt>Logotipo de empresa</dt>
			<dd>Colocamos un logotipo provisional:</dd>
			<div style="text-align: center;">
				<img src="{% static 'svg/logos/TSG-sobre-blanco.png' %}" width="50%" alt="Logo">
			</div>
		</dl>
	</section>

	<section>
		<h3>Página de información de ruta</h3>
	</section>

	<section>
		<h3>Página de contacto</h3>
	</section>

	<section>
		<h3>Página de la empresa</h3>
	</section>

	<section>
		<h3>Página de inicio</h3>
	</section>

</section>

<!-- 6. Tecnologías y estándares -->

<section>

	<section>
		<h2>Tecnologías y estándares</h2>
	</section>
	
	<section>
		<h3>Tecnologías de desarrollo web</h3>
	</section>

	<section>
		<h4>Especificación de suministro de datos de transporte público</h4>
		<h3>GTFS</h3>
	</section>
</section>

<!-- 7. Lanzamiento -->

<section>
	<section>
		<h2>Lanzamiento</h2>
	</section>
	
	<section>
		<h3>Necesidades de implementación</h3>
		<ul>
			<li>Nombre de dominio</li>
			<li>Hospedaje</li>
			<li>Certificado de seguridad</li>
		</ul>
	</section>

	<section>
		<h3>Campaña de lanzamiento</h3>
		<ul>
			<li>Señalización de buses: para hacer los colores identificables con los usuarios, es necesario crear rotulación nueva para los buses.</li>
		</ul>
	</section>

	<section>
		<h3>Encuesta para usuarios</h3>
		<p>Será aplicada desde la página.</p>
	</section>
</section>

<!-- 8. Trabajo futuro -->

<section>
	<section>
		<h2>Trabajo futuro</h2>
	</section>
	
	<section>
		<h3>GTFS <i>Realtime</i></h3>
	</section>
	
	<section>
		<h3>Portal de las comunidades</h3>
	</section>
</section>

<!-- Fin de contenido de la presentación -->

			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/reveal.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/plugin/notes/notes.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/plugin/highlight/highlight.min.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
