{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Desarrollo web para el transporte público</title>
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="{% static 'svg/logos/TCU-favicon.png' %}">

		<!-- Estilos de Reveal.js -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/reset.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/reveal.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/theme/white.min.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/plugin/highlight/monokai.min.css" id="highlight-theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

<!-- Contenido de la presentación -->

<section>
	<h1>Portal comunitario</h1>
	<h4>con información del transporte público</h4>
	<hr>
	<p>Un desarrollo web de</p>
	<h4>TC-691 "Tropicalización de la Tecnología"</h4>
</section>

<section>
	<h2>Agenda</h2>
</section>

<section>
	<h2>La página como un portal comunitario</h2>
	<p>Nuestra labor como TCU está centrada en la comunidad.</p>
</section>

<section>
	<h2>La página de información de cada ruta</h2>
	<ul>
		<li>Nombre, descripción</li>
		<li>Próximos buses</li>
		<li>Horario</li>
		<li>Tarifas</li>
		<li>Mapas</li>
		<li>Paradas autorizadas</li>
	</ul>
</section>

<section>
	<h2>Otras secciones de la página</h2>
</section>

<section>
	<h2>Necesidades para la página web</h2>
	<ul>
		<li>Nombre de dominio</li>
		<li>Hospedaje</li>

	</ul>
</section>

<section>
	<h2>Señalización de buses</h2>
	<p>Para hacer los colores identificables con los usuarios, es necesario crear rotulación nueva para los buses.</p>
</section>

<section>
	<h2>Por hacer</h2>
	<ul>
		<li>GTFS Realtime</li>
		<li>Portal de comunidades</li>
	</ul>
</section>

<section data-background-iframe="http://161.35.54.122/rutas/acosta/" data-background-interactive>

</section>

<!-- Fin de contenido de la presentación -->

			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/reveal.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/plugin/notes/notes.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.2/plugin/highlight/highlight.min.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
