{% extends 'base.html'%}

{% load static %}

{% block page_title %} Tarifas {% endblock %}

{% block content %}

<div class="custom-vertical-space"></div>

<h1>Tarifas autorizadas</h1>

<p>
  Precios autorizados por <a href="https://aresep.go.cr/autobus/tarifas" target="_blank">ARESEP</a>.
</p>

<!-- Nota sobre "solo efectivo" -->
<div class="alert alert-soft-secondary" role="alert">
  <p>
      <ol class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-money-bill-wave"></i></span>
              Únicamente son posibles los pagos <strong>en efectivo</strong> abordo del autobús.
          </li>
      </ol>
  </p>
</div>

<!-- Acosta -->
<hr>
<h2><i class="fas fa-bus color-sanluis"></i> Ruta de Acosta</h2>

<p class="small text-uppercase"><a href="/rutas/acosta" class="color-sanluis"><i class="fas fa-link"></i> Ir a página de la ruta</a></p>

<p>Existen dos ramales: Acosta hacia <span class="color-sanluis">San Luis</span> o <span class="color-turrujal">Turrujal</span>.</p>

<div class="row">
      
  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100 borde-color-sanluis">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa completa</h6>
          <h3 class="card-title">&#162; {{ tarifas_ACOS.0.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100 borde-color-sanluis">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa media</h6>
          <h3 class="card-title">&#162; {{ tarifas_ACOS.1.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100 borde-color-sanluis">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa mínima</h6>
          <h3 class="card-title">&#162; {{ tarifas_ACOS.2.price }}</h3>
        </div>
      </div>
  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100 borde-color-sanluis">
      <div class="card-body">
        <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> persona adulta mayor</h6>
        <h3 class="card-title">&#162; {{ tarifas_ACOS.3.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100 borde-color-turrujal">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Turrujal</strong> <br> tarifa única</h6>
          <h3 class="card-title">&#162; {{ tarifas_TURR.0.price }}</h3>
        </div>
      </div>
  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100 borde-color-turrujal">
      <div class="card-body">
        <h6 class="font-weight-normal mb-1"> <strong>Turrujal</strong> <br> persona adulta mayor</h6>
        <h3 class="card-title">&#162; {{ tarifas_TURR.1.price }}</h3>
      </div>
    </div>
  </div>

</div>

<!-- San Gabriel -->
<hr>
<h2><i class="fas fa-bus color-sangabriel"></i> Ruta de San Gabriel</h2>

<p class="small text-uppercase"><a href="/rutas/sangabriel" class="color-sangabriel"><i class="fas fa-link"></i> Ir a página de la ruta</a></p>

<div class="row">
      
  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100 borde-color-sangabriel">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa completa</h6>
          <h3 class="card-title">&#162; {{ tarifas_SGAB.0.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100 borde-color-sangabriel">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa media</h6>
          <h3 class="card-title">&#162; {{ tarifas_SGAB.1.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100 borde-color-sangabriel">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa mínima</h6>
          <h3 class="card-title">&#162; {{ tarifas_SGAB.2.price }}</h3>
        </div>
      </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100 borde-color-sangabriel">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> persona adulta mayor</h6>
          <h3 class="card-title">&#162; {{ tarifas_SGAB.3.price }}</h3>
        </div>
      </div>
    </div>

</div>

{% endblock %}
