{% extends 'base.html'%}

{% block page_title %} Noticias {% endblock %}

{% block content %}

{% block h1 %} Avisos y noticias {% endblock %}

<h1>Avisos urgentes</h1>

    {% for aviso  in todos_avisos %}
    <div style="background-color: white;"><p>
        <h2 style="color:red;">{{aviso.titulo}}</h2>
        <h3 style="color:black;">{{aviso.descripcion}}</h3>
    </p></div> 
    {% endfor %}

<h1>Noticias generales</h1>

{% for noticia  in todas_noticias %}
<div style="background-color: white;"><p>
    <h2>{{noticia.titulo}}</h2>
    <h3>{{noticia.descripcion_Corta}}</h3>

    {% if noticia.imagen_Noticia %}
    <p><img src="{{noticia.imagen_Noticia.url}}" width="150px"></p> 
    {% endif %}

    <p>{{noticia.descripcion_Larga}}</p>
</p></div> 
{% endfor %}

<form action="/noticias/busqueda/" method="GET">

    <input type="text" name='elemento_Busqueda'>

    <input type="submit" value="Buscar">

</form>

{% endblock %}