{% load static %}

<!-- Documento base HTML para todas las páginas del sitio -->

<!DOCTYPE html>
<html lang="es">
  
  <head>

    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Título de la pestaña del navegador -->

    <title>{% block page_title %}{% endblock %} - TSG</title>
    
    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- FontAwesome -->

    <script src="https://kit.fontawesome.com/1ae7c4e024.js" crossorigin="anonymous"></script>

  </head>
  
  <body>
    
    <!-- ENCABEZADO -->

    <header>
      
      <!-- Barra superior de navegación (fija)  style="background-color: rgba(0, 0, 0, .85);"-->
      
      <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"> 
          <div class="container">
            <!-- Logo -->
            <a class="navbar-brand text-light" href="/">Transportes San Gabriel</a>
            
            <!-- Menú contraído -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Menú -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/rutas" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rutas</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/rutas/acosta">Acosta</a>
                    <a class="dropdown-item" href="/rutas/sangabriel">San Gabriel</a>
                  </div>
                </li>                
                <!-- <li class="nav-item"><a class="nav-link" href="/noticias">Noticias</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="/comunidades">Comunidades</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/nosotros">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="bg-dark py-4 mb-4">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-lg-12">
                <h1 class="text-white mt-5 mb-2">{% block titulo %}{% endblock %}</h1>
                <p class="lead mb-5 text-white-50">{% block subtitulo %}{% endblock %}</p>
              </div>
            </div>
          </div>
        </div>

      </section>
      
      <!-- Portada 

      <section> 
        <div>
          <h1>{% block h1 %}{% endblock %}</h1>
        </div>
      </section>-->

      <!-- Barra de información de página actual 

      <section>-->
        <!-- Navegación ("breadcrumbs") 
        <div>
          
        </div>-->
        <!-- Redes sociales 
        <div>
          
        </div>
      </section>-->

    </header>
        
    <!-- CONTENIDO PRINCIPAL -->

    <main role="main" class="container">
      
      {% block content %}
      <!-- Aquí el contenido de cada página -->
      {% endblock %}
      
    </main>
       
    <!-- PIE DE PÁGINA -->

    <footer class="bd-footer container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <strong>Transportes San Gabriel</strong> <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>-->
          <small class="d-block mb-3 text-muted">&copy; 2020</small>
        </div>
        <div class="col-6 col-md">
          <h5>Menú</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/rutas/">Rutas</a></li>
            <!-- <li><a class="text-muted" href="/noticias/">Noticias</a></li> -->
            <!-- <li><a class="text-muted" href="/comunidades/">Comunidades</a></li> -->
            <li><a class="text-muted" href="/nosotros/">Nosotros</a></li>
            <li><a class="text-muted" href="/contacto/">Contacto</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contacto</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="tel:+506-2410-0330"><strong>Teléfono</strong> <br> 2410-0330</a></li>
            <li><a class="text-muted" href="mailto:transgabriel@racsa.co.cr"><strong>Correo</strong> <br> transgabriel@racsa.co.cr</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/nosotros/">Transportes San Gabriel</a></li>
            <li><a class="text-muted" href="https://www.ctp.go.cr/">Consejo de Transporte Público</a></li>
            <li><a class="text-muted" href="/acerca/">Este sitio web</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>GTFS</h5>
          <p class="text-muted text-small">
            Esta página utiliza GTFS, un estándar de datos abiertos de transporte público... <a href="/acerca/#GTFS">más</a>
          </p>
        </div>
      </div>
    </footer>
        
    <!-- Archivos de JavaScript -->

    <script src="{% static 'js/hora.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/map_main.js' %}" type="text/javascript"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  </body>

</html>