                            <tr>
                                <td v-if="hacia_sanjose.length" class="font-weight-bold">
                                    <span class="align-middle">{{ hacia_sanjose[0] }}</span>
                                    <span v-if="hacia_sanjose_ramal[0] == 'desde_sanluis'" class="small badge badge-danger">SL</span>
                                    <span v-else-if="hacia_sanjose_ramal[0] == 'desde_turrujal'" class="small badge badge-warning">TU</span>
                                    <span v-else-if="hacia_sanjose_ramal[0] == 'desde_jorco'" class="small badge badge-info">JO</span></td>
                                <td v-else class="font-weight-bold">No hay más buses hoy</td>

                                <td v-if="desde_sanjose.length" class="font-weight-bold">
                                    <span class="align-middle">{{ desde_sanjose[0] }}</span>
                                    <span v-if="desde_sanjose_ramal[0] == 'hacia_sanluis'" class="small badge badge-danger">SL</span>
                                    <span v-else-if="desde_sanjose_ramal[0] == 'hacia_turrujal'" class="small badge badge-warning">TU</span>
                                    <span v-else-if="desde_sanjose_ramal[0] == 'hacia_jorco'" class="small badge badge-info">JO</span></td>
                                <td v-else class="font-weight-bold">No hay más buses hoy</td>
                            </tr>

                            <tr>
                                <td><span class="align-middle">{{ hacia_sanjose[1] }}</span>
                                    <span v-if="hacia_sanjose_ramal[1] == 'desde_sanluis'" class="small badge badge-danger">SL</span>
                                    <span v-else-if="hacia_sanjose_ramal[1] == 'desde_turrujal'" class="small badge badge-warning">TU</span>
                                    <span v-else-if="hacia_sanjose_ramal[1] == 'desde_jorco'" class="small badge badge-info">JO</span></td>
                                <td><span class="align-middle">{{ desde_sanjose[1] }}</span>
                                    <span v-if="desde_sanjose_ramal[1] == 'hacia_sanluis'" class="small badge badge-danger">SL</span>
                                    <span v-else-if="desde_sanjose_ramal[1] == 'hacia_turrujal'" class="small badge badge-warning">TU</span>
                                    <span v-else-if="desde_sanjose_ramal[1] == 'hacia_jorco'" class="small badge badge-info">JO</span></td>
                            </tr>

                            <tr>
                                <td><span class="align-middle">{{ hacia_sanjose[2] }}</span>
                                    <span v-if="hacia_sanjose_ramal[2] == 'desde_sanluis'" class="small badge badge-danger">SL</span>
                                    <span v-else-if="hacia_sanjose_ramal[2] == 'desde_turrujal'" class="small badge badge-warning">TU</span>
                                    <span v-else-if="hacia_sanjose_ramal[2] == 'desde_jorco'" class="small badge badge-info">JO</span></td>

                                <td><span class="align-middle">{{ desde_sanjose[2] }}</span>
                                    <span v-if="desde_sanjose_ramal[2] == 'hacia_sanluis'" class="small badge badge-danger">SL</span>
                                    <span v-else-if="desde_sanjose_ramal[2] == 'hacia_turrujal'" class="small badge badge-warning">TU</span>
                                    <span v-else-if="desde_sanjose_ramal[2] == 'hacia_jorco'" class="small badge badge-info">JO</span></td>
                            </tr>
