{% extends 'base.html'%}

{% block page_title %} Rutas {% endblock %}

{% block content %}

<h1>Lista de rutas de la empresa</h1>

<h2>Hora Actual</h2>
<h2 id="DigitalCLOCK" onload="showTime();"></h2>

<h3 onload>Próximos buses de {{ routes.0.short_name }}</h3>

<!-- Tabla de Próximo Bus -->
<table align="center">
    <tr>
        <th>Próximo bus saliendo de {{ routes.0.short_name }}</th>
        <th> | </th>
        <th>Próximo bus saliendo de San José</th>
    </tr>
    <tr>
        <td>{{ next_bus_list_SG.0 }}</td>
        <td> | </td>
        <td>{{ next_bus_list_SJ_SG.0 }}</td>
    </tr>
    <tr>
        <td>{{ next_bus_list_SG.1 }}</td>
        <td> | </td>
        <td>{{ next_bus_list_SJ_SG.1 }}</td>
    </tr>
    <tr>
        <td>{{ next_bus_list_SG.2 }}</td>
        <td> | </td>
        <td>{{ next_bus_list_SJ_SG.2 }}</td>
    </tr>
</table>

<h3>Próximos buses de {{ routes.1.short_name }}</h3>
<!-- Tabla de Próximo Bus -->
<table align="center">
    <tr>
        <th>Próximo bus saliendo de {{ routes.1.short_name }}</th>
        <th> | </th>
        <th>Próximo bus saliendo de San José</th>
    </tr>
    <tr>
        <td>{{ next_bus_list_Aco.0 }}</td>
        <td> | </td>
        <td>{{ next_bus_list_SJ_Aco.0 }}</td>
    </tr>
    <tr>
        <td>{{ next_bus_list_Aco.1 }}</td>
        <td> | </td>
        <td>{{ next_bus_list_SJ_Aco.1 }}</td>
    </tr>
    <tr>
        <td>{{ next_bus_list_Aco.2 }}</td>
        <td> | </td>
        <td>{{ next_bus_list_SJ_Aco.2 }}</td>
    </tr>
</table>

<p><a href="/rutas/sangabriel">San Gabriel</a></p>

<p><a href="/rutas/acosta">Acosta</a></p>

{% endblock %}