{% extends 'base.html'%}

{% load static %}

{% block page_title %} Rutas {% endblock %}

{% block titulo %} Rutas {% endblock %}

{% block content %}

<!-- Alertas -->


<!-- Hora actual -->


<!-- Próximos buses -->


<!-- Tarifas -->

<section>

    <hr>
    <h2 id="tarifas">Tarifas</h2>

    Tablas de tarifas por ruta (desde el modelo de tarifas)
</section>

<!-- Terminal de buses en San José -->

<section>

    <hr>
    <h2>Terminal en San José</h2>
  
    <div class="card card-bordered mb-3 mx-auto" style="max-width: 620px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'rutas/terminal.png' %}" class="card-img" alt="Foto de mapa">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Terminal en San José</h5>
            <ol class="fa-ul">
              <li><span class="fa-li"><i class="far fa-map"></i></span>Calle <strong>7</strong>, entre avenidas <strong>10</strong> y <strong>12.</strong></li>
              <li><span class="fa-li"><i class="fas fa-location-arrow"></i></span>200 metros sur de la esquina sureste del Parque de las Garantías Sociales.</li>
              <li><span class="fa-li"><i class="fab fa-waze"></i></span><a href="https://ul.waze.com/ul?ll=9.92929648%2C-84.07635212&navigate=yes&zoom=17">Dirección en Waze</a></li>
            </ol>
          </div>
        </div>
      </div>
  </div>
  
  </section>

{% endblock %}
