{% extends 'base.html'%}

{% block page_title %} Ruta de {{ route.short_name }} {% endblock %}

{% block titulo %} Ruta de buses {{ route.long_name }} {% endblock %}

{% block subtitulo %} 
<!--
    <div class="container text-center">
        <a class="btn btn-light" href="#horario" role="button">Horario</a>
        <a class="btn btn-light" href="#informacion" role="button">Información</a>
        <a class="btn btn-light" href="#tarifas" role="button">Tarifas</a>
        <a class="btn btn-light" href="#mapa" role="button">Mapa</a>
        <a class="btn btn-light" href="#paradas" role="button">Paradas</a>
    </div>
    <div class="btn-group btn-group-sm text-center" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Horario</button>
        <button type="button" class="btn btn-secondary">Información</button>
        <button type="button" class="btn btn-secondary">Tarifas</button>
        <button type="button" class="btn btn-secondary">Mapa</button>
        <button type="button" class="btn btn-secondary">Paradas</button>
    </div>

-->
{% endblock %}

{% load static %}

{% block content %}

<div class="text-center small">
    <ul class="list-group list-group-horizontal text-center">
        <li class="list-group-item"><a href="#horario">Horario</a></li>
        <li class="list-group-item"><a href="#informacion">Información</a></li>
        <li class="list-group-item"><a href="#tarifas">Tarifas</a></li>
        <li class="list-group-item"><a href="#mapa">Mapa</a></li>
        <li class="list-group-item"><a href="#paradas">Paradas</a></li>
    </ul>
</div>


<!-- Estilos necesarios para el mapa de leaflet -->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">

<!-- Hora actual -->

<section>
    <p>
        <div class="text-center">
            <h1><span class="badge badge-dark" id="DigitalCLOCK" onload="showTime()"></span></h1>
            <h5><span class="badge badge-light"><span class="text-capitalize">{{ fecha.0 }}</span> {{ fecha.1 }} de {{ fecha.2 }} de {{ fecha.3 }}</span></h5>           
        </div>    
    </p>
</section>

<!-- Próximo bus-->

<section>
    {% include "proximobus.html" %}
</section>
 

<!-- Tabla de horario -->

<section id="horario">

    <hr>
    <h2>Horario {{ route.long_name }}</h2>

    <!-- Nota sobre los ramales -->
    {% if route.short_name == 'Acosta' %}
    <p>
        <ol class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-info-circle"></i></span>La ruta de Acosta tiene las siguientes trayectorias (ver <a href="#mapa">mapa de la ruta</a>):</li>
        </ol>
        <dl class="small">
            <dt><span class="badge badge-secondary align-middle">AC</span> <span class="text-secondary text-uppercase font-weight-bold align-middle">Acosta</span></dt>
            <dd>Sale desde el centro de San Ignacio de Acosta</dd>

            <dt><span class="badge badge-danger align-middle">SL</span> <span class="text-danger text-uppercase font-weight-bold align-middle">San Luis</span></dt>
            <dd>Sale desde o va hacia San Luis de Acosta y pasa por el centro de San Ignacio</dd>

            <dt><span class="badge badge-warning align-middle">TU</span> <span class="text-warning text-uppercase font-weight-bold align-middle">Turrujal</span></dt>
            <dd>Sale desde o va hacia Turrujal de Acosta y pasa por el centro de San Ignacio</dd>

            <dt><span class="badge badge-info align-middle">JO</span> <span class="text-info text-uppercase font-weight-bold align-middle">Jorco</span></dt>
            <dd>Sale desde Vuelta de Jorco de Aserrí hacia San José y <strong>no</strong> pasa por el centro de San Ignacio</dd>
        </dl>
    </p>
    {% endif %}

    <!-- Nota sobre el horario de salida -->
    <ol class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-info-circle"></i></span>La hora indicada del viaje hacia San José es en la parada de {{ route.short_name }} centro. 
            Los buses salen 15 minutos antes desde
            {% if route.short_name == 'Acosta' %}
                San Luis o Turrujal, según se indica
            {% else %}
                Los Mangos
            {% endif %}
            (ver lista de <a href="#paradas">paradas autorizadas</a>).</li>
    </ol>

    <!-- Tabs con los horarios por día -->
    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link {{ horario_activo.0 }}" id="entresemana-tab" data-toggle="tab" href="#entresemana" role="tab" aria-controls="entresemana" aria-selected="{{ horario_activo.3 }}"><strong>Lunes a viernes</strong></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link {{ horario_activo.1 }}" id="sabado-tab" data-toggle="tab" href="#sabado" role="tab" aria-controls="sabado" aria-selected="{{ horario_activo.4 }}"><strong>Sábado</strong></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link {{ horario_activo.2 }}" id="domingo-tab" data-toggle="tab" href="#domingo" role="tab" aria-controls="domingo" aria-selected="{{ horario_activo.5 }}"><strong>Domingo</strong></a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {{ horario_activo.6 }}" id="entresemana" role="tabpanel" aria-labelledby="entresemana-tab">
            <table class="table table-striped table-borderless text-center">
                <thead>
                    <tr>
                        <th>{{ route.short_name }} <i class="fas fa-arrow-circle-right"></i> San&nbsp;José</th>
                        <th>San José <i class="fas fa-arrow-circle-right"></i> {{ route.short_name }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hacia_sanjose, ramal_0, desde_sanjose, ramal_1 in horario_entresemana %}
                    <tr>
                        <td scope="row">{{ hacia_sanjose }} {% if ramal_0 == 'desde_sanluis' %} <span class="small text-danger text-uppercase font-weight-bold">San&nbsp;Luis</span> {% elif ramal_0 == 'desde_turrujal' %} <span class="small text-warning text-uppercase font-weight-bold">Turrujal</span> {% elif ramal_0 == 'desde_jorco' %} <span class="small text-info text-uppercase font-weight-bold">Jorco</span> {% elif ramal_0 == 'desde_acosta' %} <span class="small text-secondary text-uppercase font-weight-bold">Acosta</span> {% else %} {% endif %}</td>
                        <td scope="row">{{ desde_sanjose }} {% if ramal_1 == 'hacia_sanluis' %} <span class="small text-danger text-uppercase font-weight-bold">San&nbsp;Luis</span> {% elif ramal_1 == 'hacia_turrujal' %} <span class="small text-warning text-uppercase font-weight-bold">Turrujal</span> {% elif ramal_1 == 'hacia_jorco' %} <span class="small text-info text-uppercase font-weight-bold">Jorco</span> {% elif ramal_1 == 'hacia_acosta' %} <span class="small text-secondary text-uppercase font-weight-bold">Acosta</span> {% else %} {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade {{ horario_activo.7 }}" id="sabado" role="tabpanel" aria-labelledby="sabado-tab">
            <table class="table table-striped table-borderless text-center">
                <thead>
                    <tr>
                        <th>{{ route.short_name }} <i class="fas fa-arrow-circle-right"></i> San&nbsp;José</th>
                        <th>San José <i class="fas fa-arrow-circle-right"></i> {{ route.short_name }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hacia_sanjose, ramal_0, desde_sanjose, ramal_1 in horario_sabado %}
                    <tr>
                        <td scope="row">{{ hacia_sanjose }} {% if ramal_0 == 'desde_sanluis' %} <span class="small text-danger text-uppercase font-weight-bold">San&nbsp;Luis</span> {% elif ramal_0 == 'desde_turrujal' %} <span class="small text-warning text-uppercase font-weight-bold">Turrujal</span> {% elif ramal_0 == 'desde_jorco' %} <span class="small text-info text-uppercase font-weight-bold">Jorco</span> {% elif ramal_0 == 'desde_acosta' %} <span class="small text-secondary text-uppercase font-weight-bold">Acosta</span> {% else %} {% endif %}</td>
                        <td scope="row">{{ desde_sanjose }} {% if ramal_1 == 'hacia_sanluis' %} <span class="small text-danger text-uppercase font-weight-bold">San&nbsp;Luis</span> {% elif ramal_1 == 'hacia_turrujal' %} <span class="small text-warning text-uppercase font-weight-bold">Turrujal</span> {% elif ramal_1 == 'hacia_jorco' %} <span class="small text-info text-uppercase font-weight-bold">Jorco</span> {% elif ramal_1 == 'hacia_acosta' %} <span class="small text-secondary text-uppercase font-weight-bold">Acosta</span> {% else %} {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade {{ horario_activo.8 }}" id="domingo" role="tabpanel" aria-labelledby="domingo-tab">
            <table class="table table-striped table-borderless text-center">
                <thead>
                    <tr>
                        <th>{{ route.short_name }} <i class="fas fa-arrow-circle-right"></i> San&nbsp;José</th>
                        <th>San José <i class="fas fa-arrow-circle-right"></i> {{ route.short_name }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hacia_sanjose, ramal_0, desde_sanjose, ramal_1 in horario_domingo %}
                    <tr>
                        <td scope="row">{{ hacia_sanjose }} {% if ramal_0 == 'desde_sanluis' %} <span class="small text-danger text-uppercase font-weight-bold">San&nbsp;Luis</span> {% elif ramal_0 == 'desde_turrujal' %} <span class="small text-warning text-uppercase font-weight-bold">Turrujal</span> {% elif ramal_0 == 'desde_jorco' %} <span class="small text-info text-uppercase font-weight-bold">Jorco</span> {% elif ramal_0 == 'desde_acosta' %} <span class="small text-secondary text-uppercase font-weight-bold">Acosta</span> {% else %} {% endif %}</td>
                        <td scope="row">{{ desde_sanjose }} {% if ramal_1 == 'hacia_sanluis' %} <span class="small text-danger text-uppercase font-weight-bold">San&nbsp;Luis</span> {% elif ramal_1 == 'hacia_turrujal' %} <span class="small text-warning text-uppercase font-weight-bold">Turrujal</span> {% elif ramal_1 == 'hacia_jorco' %} <span class="small text-info text-uppercase font-weight-bold">Jorco</span> {% elif ramal_1 == 'hacia_acosta' %} <span class="small text-secondary text-uppercase font-weight-bold">Acosta</span> {% else %} {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- "Datos de GTFS" -->
    <p>
        <div class="text-right">
            <small><i class="fas fa-database"></i> Datos de <a href="/acerca/#GTFS">GTFS</a></small>
        </div>
    </p>
    

    <!-- Lista de feriados -->
    <div class="alert alert-info" role="alert">
        <div class="d-flex justify-content-between">
            <div>
                <i class="fas fa-info-circle"></i> Los feriados tienen horario de <strong>domingo</strong>.
            </div>
            <div>
                <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#listaferiados" aria-expanded="false" aria-controls="listaferiados">
                    Mostrar feriados
                </button>
            </div>
        </div>

        <div class="collapse" id="listaferiados">
            <hr>
            <p>
                <ul>
                    {% for feriado in feriados %}
                    <li><strong>{{ feriado.holiday_name }}</strong> es feriado el <span class="text-lowercase">{{ feriado.date }}</span></li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>

</section>

<!-- Información de la ruta -->

<section id="informacion">

    <hr>
    <h2>Información de la ruta {{ route.long_name }}</h2>
    
    <p class="lead">{{ route.desc }}</p>

    <div class="card-deck text-center">
        <div class="card card-bordered">
          <div class="card-header">Tarifa completa</div>
          <div class="card-body">
            <h1 class="display-4">&cent; 990</h1>
            <a href="#tarifas" class="btn btn-primary">Tabla de tarifas</a>
          </div>
        </div>
        <div class="card card-bordered">
          <div class="card-header">Distancia total</div>
          <div class="card-body">
            <h1 class="display-4">27 km</h1>
            <a href="#mapa" class="btn btn-primary">Mapa de ruta</a>
          </div>
        </div>
        <div class="card card-bordered">
          <div class="card-header">Paradas autorizadas</div>
          <div class="card-body">
            <h1 class="display-4">23</h1>
            <a href="#paradas" class="btn btn-primary">Lista de paradas autorizadas</a>
          </div>
        </div>
    </div>

</section>

<!-- Tarifas -->

<section id="tarifas">

    <hr>
    <h2>Tarifas</h2>

    {% include "tarifas.html" %}

</section>

<!-- Mapa de la ruta -->

<section id="mapa">

    <hr>
    <h2>Mapa de la ruta</h2>

    <!-- div para el mapa -->
    <div id="map" class="map map-home" style="margin:auto; height:400px; max-width: 540px;"></div>

    <!-- Scripts necesarios para el mapa de leaflet -->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>	 

    <script type=”text/javscript”>
        let terminal_coordinates = “{{ terminal_coordinates }}”;
        let SJ_coordinates = “{{ SJ_coordinates }}”;
    </script>

</section>

<!-- Paradas autorizadas -->

<section id="paradas">

    <hr>
    <h2>Paradas autorizadas</h2>

    <div class="card card-bordered mb-3 mx-auto" style="max-width: 620px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'rutas/terminal.png' %}" class="card-img" alt="Foto de mapa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Terminal en San José</h5>
              <ol class="fa-ul">
                <li><span class="fa-li"><i class="far fa-map"></i></span>Calle <strong>7</strong>, entre avenidas <strong>10</strong> y <strong>12.</strong></li>
                <li><span class="fa-li"><i class="fas fa-location-arrow"></i></span>200 metros sur de la esquina sureste del Parque de las Garantías Sociales.</li>
                <li><span class="fa-li"><i class="fab fa-waze"></i></span><a href="https://ul.waze.com/ul?ll=9.92929648%2C-84.07635212&navigate=yes&zoom=17">Dirección en Waze</a></li>
              </ol>
            </div>
          </div>
        </div>
    </div>

    <p class="text-center">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#listaparadas" aria-expanded="false" aria-controls="listaparadas">
          Mostrar todas las paradas
        </button>
    </p>
    <div class="collapse" id="listaparadas">
        <div class="card card-body">
            <p class="lead">Presione <i class="fas fa-plus-circle"></i> para más información.</p>
            
            <h5>De San Gabriel hacia Tarbaca</h5>

            <ol class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Centro de San Gabriel</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>La vuelta de Betty Camacho</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Abastecedor Padilla</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Barrio Nuevo</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Barrio María Auxiliadora</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Barrio Los Corella</li>
            </ol>

            <h5>De Tarbaca hacia San José</h5>

            <ol class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Centro de San Gabriel</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>La vuelta de Betty Camacho</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Abastecedor Padilla</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Barrio Nuevo</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Barrio María Auxiliadora</li>
                <li><span class="fa-li"><i class="fas fa-plus-circle"></i></span>Barrio Los Corella</li>
            </ol>

        </div>
    </div>

</section>

{% endblock %}