{% extends 'base.html'%}



{% block page_title %} {{ route.short_name }} | TSG {% endblock %}

{% block content %}

<h1>Ruta {{ route.short_name }} - San José</h1>
<h2>Hora Actual</h2>
<h2 id="DigitalCLOCK"></h2>

<h3>Próximo bus</h3>
<!-- Tabla de Próximo Bus -->
<table align="center">
    <tr>
        <th>Próximo bus saliendo de {{ route.short_name }}</th>
        <th> | </th>
        <th>Próximo bus saliendo de San José</th>
    </tr>
    <tr>
        <td>{{ bus_listRoute.0 }}</td>
        <td> | </td>
        <td>{{ bus_listSJ.0 }}</td>
    </tr>
    <tr>
        <td>{{ bus_listRoute.1 }}</td>
        <td> | </td>
        <td>{{ bus_listSJ.1 }}</td>
    </tr>
    <tr>
        <td>{{ bus_listRoute.2 }}</td>
        <td> | </td>
        <td>{{ bus_listSJ.2 }}</td>
    </tr>
</table>

<h3>Horario -  Salidas desde {{ stop.name }}</h3>

<!-- Tabla de horario -->
<table align="center">
    <tr>
        <th>{{ route.short_name }}</th>
        <th> | </th>
        <th>San Jose</th>
    </tr>
    {% for timeRoute, timeSJ in stop_times_list %}
    <tr>
        <td>{{ timeRoute.departure_time }}</td>
        <td> | </td>
        <td>{{ timeSJ.departure_time }}</td>
    </tr>
    {% endfor %}
    <!-- Add last row that only has stop time from "San José" departure -->
    <!-- Only in the case for "San Gabriel" -->
    {% if route.short_name == "San Gabriel" %}
    <tr>
        <td>N/A</td>
        <td> | </td>
        <td>{{ stop_times_SJ_last.departure_time }}</td>
    </tr>
    {% endif %}
</table>


<h3>Mapa</h3>

<script>
    function showTime(){
        let date = new Date();
        let h = date.getHours(); 
        let m = date.getMinutes(); 
        let s = date.getSeconds(); 
        let session = "AM";
        
        if(h == 0){
            h = 12;
        }        
        else if(h > 12){
            h = h - 12;
            session = "PM";
        }

        if((m == 00 || m == 15 || m == 30 || m == 45) && s == 00){
            location.reload(); // Recargar la página en estos minutos a cualquier hora
        } 
        
        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;
        
        let time = h + ":" + m + ":" + s + " " + session;
        document.getElementById("DigitalCLOCK").innerText = time;
        // document.getElementById("DigitalCLOCK").textContent = time;
        setTimeout(showTime, 1000);
    }
    
    showTime();
</script>

{% endblock %}