<hr>
<h2><i class="fas fa-clock color-ruta"></i> Horarios especiales de Semana Santa</h2>
<h3><i class="fas fa-calendar"></i> Jueves Santo y Viernes Santo</h3>
{% if route.short_name == 'Acosta' %}
<h4>San Luis/Turrujal/Acosta - San José</h4>
<p>
<table class="table table-striped table-borderless text-center">
    <thead>
        <tr>
            <td>San Luis/Turrujal</td>
            <td>Acosta centro</td>
            <td>San José</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4:15 AM</td>
            <td>4:30 AM</td>
            <td>6:30 AM <span class="small color-sanluis text-uppercase font-weight-bold">San&nbsp;Luis</span></td>
        </tr>
        <tr>
            <td>8:15 AM</td>
            <td>8:30 AM</td>
            <td>10:30 AM <span class="small color-turrujal text-uppercase font-weight-bold">Turrujal</span></td>
        </tr>
        <tr>
            <td>12:15 PM</td>
            <td>12:30 PM</td>
            <td>2:30 PM <span class="small color-sanluis text-uppercase font-weight-bold">San&nbsp;Luis</span></td>
        </tr>
        <tr>
            <td>4:15 PM</td>
            <td>4:30 PM</td>
            <td>6:30 PM <span class="small color-turrujal text-uppercase font-weight-bold">Turrujal</span></td>
        </tr>
        <tr>
            <td>8:15 PM</td>
            <td>8:30 PM</td>
            <td>10:30 PM <span class="small color-sanluis text-uppercase font-weight-bold">San&nbsp;Luis</span></td>
        </tr>
    </tbody>
</table>
</p>
{% else %}
<h4>San Gabriel - San José</h4>
<p>
<table class="table table-striped table-borderless text-center">
    <thead>
        <tr>
            <td>Los Mangos</td>
            <td>San Gabriel</td>
            <td>San José</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4:45 AM</td>
            <td>5:00 AM</td>
            <td>7:30 AM</td>
        </tr>
        <tr>
            <td>9:00 AM</td>
            <td>9:15 AM</td>
            <td>11:30 AM</td>
        </tr>
        <tr>
            <td>12:30 PM</td>
            <td>12:45 PM</td>
            <td>3:30 PM</td>
        </tr>
        <tr>
            <td>7:15 PM</td>
            <td>7:30 PM</td>
            <td>10:30 PM</td>
        </tr>
    </tbody>
</table>
</p>
{% endif %}
<h3><i class="fas fa-calendar"></i> Sábado Santo, Domingo de Resurrección y lunes 10 de abril</h3>
<p>(Feriado del Día de la Batalla de Rivas)</p>
{% if route.short_name == 'Acosta' %}
<h4>San Luis/Acosta - San José</h4>
<p>
<table class="table table-striped table-borderless text-center">
    <thead>
        <tr>
            <td>San Luis</td>
            <td>Acosta centro</td>
            <td>San José</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4:15 AM</td>
            <td>4:30 AM</td>
            <td>6:30 AM</td>
        </tr>
        <tr>
            <td>6:15 AM</td>
            <td>6:30 AM</td>
            <td>8:30 AM</td>
        </tr>
        <tr>
            <td>8:15 AM</td>
            <td>8:30 AM</td>
            <td>10:30 AM</td>
        </tr>
        <tr>
            <td>10:15 AM</td>
            <td>10:30 AM</td>
            <td>12:30 PM</td>
        </tr>
        <tr>
            <td>12:15 PM</td>
            <td>12:30 PM</td>
            <td>2:30 PM</td>
        </tr>
        <tr>
            <td>2:15 PM</td>
            <td>2:30 PM</td>
            <td>4:30 PM</td>
        </tr>
        <tr>
            <td>4:15 PM</td>
            <td>4:30 PM</td>
            <td>6:30 PM</td>
        </tr>
        <tr>
            <td>6:15 PM</td>
            <td>6:30 PM</td>
            <td>8:30 PM</td>
        </tr>
        <tr>
            <td>8:15 PM</td>
            <td>8:30 PM</td>
            <td>10:30 PM</td>
        </tr>
    </tbody>
</table>
</p>
<h4>Turrujal/Acosta - San José</h4>
<p>
<table class="table table-striped table-borderless text-center">
    <thead>
        <tr>
            <td>Turrujal</td>
            <td>Acosta centro</td>
            <td>San José</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5:15 AM</td>
            <td>5:30 AM</td>
            <td>7:30 AM</td>
        </tr>
        <tr>
            <td>7:15 AM</td>
            <td>7:30 AM</td>
            <td>9:30 AM</td>
        </tr>
        <tr>
            <td>9:15 AM</td>
            <td>9:30 AM</td>
            <td>11:30 AM</td>
        </tr>
        <tr>
            <td>11:15 AM</td>
            <td>11:30 AM</td>
            <td>1:30 PM</td>
        </tr>
        <tr>
            <td>1:15 PM</td>
            <td>1:30 PM</td>
            <td>3:30 PM</td>
        </tr>
        <tr>
            <td>3:15 PM</td>
            <td>3:30 PM</td>
            <td>5:30 PM</td>
        </tr>
        <tr>
            <td>5:15 PM</td>
            <td>5:30 PM</td>
            <td>7:30 PM</td>
        </tr>
        <tr>
            <td>7:15 PM</td>
            <td>7:30 PM</td>
            <td>9:30 PM</td>
        </tr>
    </tbody>
</table>
</p>
{% else %}
<h4>San Gabriel - San José</h4>
<p>
<table class="table table-striped table-borderless text-center">
    <thead>
        <tr>
            <td>Los Mangos</td>
            <td>San Gabriel</td>
            <td>San José</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4:15 AM</td>
            <td>4:30 AM</td>
            <td>6:30 AM</td>
        </tr>
        <tr>
            <td>5:45 AM</td>
            <td>6:00 AM</td>
            <td>9:00 AM</td>
        </tr>
        <tr>
            <td>7:15 AM</td>
            <td>7:30 AM</td>
            <td>11:00 AM</td>
        </tr>
        <tr>
            <td>9:30 AM</td>
            <td>9:45 AM</td>
            <td>1:00 PM</td>
        </tr>
        <tr>
            <td>10:45 AM</td>
            <td>11:00 AM</td>
            <td>2:30 PM</td>
        </tr>
        <tr>
            <td>12:15 PM</td>
            <td>12:30 PM</td>
            <td>3:45 PM</td>
        </tr>
        <tr>
            <td>2:15 PM</td>
            <td>2:30 PM</td>
            <td>5:00 PM</td>
        </tr>
        <tr>
            <td>4:00 PM</td>
            <td>4:15 PM</td>
            <td>6:30 PM</td>
        </tr>
        <tr>
            <td>6:15 PM</td>
            <td>6:30 PM</td>
            <td>8:30 PM</td>
        </tr>
        <tr>
            <td>7:45 PM</td>
            <td>8:00 PM</td>
            <td>10:30 PM</td>
        </tr>
    </tbody>
</table>
</p>
{% endif %}
