{% if route.short_name == 'Acosta' %}

<div class="row">
      
  <div class="col-sm mb-6">
    <!-- Card -->
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa completa</h6>
          <h3 class="card-title">&#162; 1085</h3>
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-sm mb-6">
    <!-- Card -->
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa media</h6>
          <h3 class="card-title">&#162; 920</h3>
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-sm mb-6">
      <!-- Card -->
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa mínima</h6>
          <h3 class="card-title">&#162; 550</h3>
        </div>
      </div>
      <!-- End Card -->
  </div>

  <div class="col-sm mb-6">
      <!-- Card -->
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Turrujal</strong> <br> tarifa única</h6>
          <h3 class="card-title">&#162; 905</h3>
        </div>
      </div>
      <!-- End Card -->
  </div>

  <div class="col-sm mb-6">
      <!-- Card -->
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"><strong>Adulto(a) mayor</strong></h6>
          <h4 class="card-title"><small>Acosta</small> &#162; 545</h4>
          <h4 class="card-title"><small>Turrujal</small> &#162; 455</h4>
        </div>
      </div>
      <!-- End Card -->
    </div>

</div>
<!-- End Row -->

{% else %}

<div class="row">
      
  <div class="col-sm mb-6">
    <!-- Card -->
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa completa</h6>
          <h3 class="card-title">&#162; 990</h3>
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-sm mb-6">
    <!-- Card -->
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa media</h6>
          <h3 class="card-title">&#162; 875</h3>
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-sm mb-6">
      <!-- Card -->
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa mínima</h6>
          <h3 class="card-title">&#162; 510</h3>
        </div>
      </div>
      <!-- End Card -->
  </div>

  <div class="col-sm mb-6">
      <!-- Card -->
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Persona</strong> <br> adulta mayor</h6>
          <h3 class="card-title">&#162; 495</h3>
        </div>
      </div>
      <!-- End Card -->
    </div>

</div>
<!-- End Row -->

{% endif %}

