{% if route.short_name == 'Acosta' %}

<div class="row">
      
  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa completa</h6>
          <h3 class="card-title">&#162; {{ tarifas.0.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa media</h6>
          <h3 class="card-title">&#162; {{ tarifas.1.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> tarifa mínima</h6>
          <h3 class="card-title">&#162; {{ tarifas.3.price }}</h3>
        </div>
      </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>Turrujal</strong> <br> tarifa única</h6>
          <h3 class="card-title">&#162; {{ tarifas.2.price }}</h3>
        </div>
      </div>

  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
        <h6 class="font-weight-normal mb-1"> <strong>Acosta</strong> <br> Persona adulta mayor</h6>
        <h3 class="card-title">&#162; {{ tarifas.4.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
        <h6 class="font-weight-normal mb-1"> <strong>Turrujal</strong> <br> Persona adulta mayor</h6>
        <h3 class="card-title">&#162; {{ tarifas.5.price }}</h3>
      </div>
    </div>
  </div>

</div>

{% else %}

<div class="row">
      
  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa completa</h6>
          <h3 class="card-title">&#162; {{ tarifas.0.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
    <div class="card card-bordered shadow-none h-100">
      <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa media</h6>
          <h3 class="card-title">&#162; {{ tarifas.1.price }}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> tarifa mínima</h6>
          <h3 class="card-title">&#162; {{ tarifas.2.price }}</h3>
        </div>
      </div>
  </div>

  <div class="col-sm mb-6">
      <div class="card card-bordered shadow-none h-100">
        <div class="card-body">
          <h6 class="font-weight-normal mb-1"> <strong>San Gabriel</strong> <br> Persona adulta mayor</h6>
          <h3 class="card-title">&#162; {{ tarifas.3.price }}</h3>
        </div>
      </div>
    </div>

</div>

{% endif %}

