<!--
Estructura de la "aplicación" de tarifas:

- Elegir ruta
- Elegir dirección
- Elegir parada inicial
- Elegir parada final
- Mostrar tarifa
-->

<table class="table table-hover small">
    <thead>
      <tr>
        <th scope="col">&cent; </th>
        <th scope="col">LM</th>
        <th scope="col">LF</th>
        <th scope="col">TR</th>
        <th scope="col">TA</th>
        <th scope="col">CE</th>
        <th scope="col">SJ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">LM</th>
        <td>515</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <th scope="row">LF</th>
        <td>515</td>
        <td>515</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <th scope="row">TR</th>
        <td>515</td>
        <td>515</td>
        <td>515</td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <th scope="row">TA</th>
        <td>880</td>
        <td>515</td>
        <td>515</td>
        <td>515</td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <th scope="row">CE</th>
        <td>880</td>
        <td>880</td>
        <td>515</td>
        <td>515</td>
        <td>515</td>
        <td> </td>
      </tr>
      <tr>
        <th scope="row">SJ</th>
        <td>990</td>
        <td>880</td>
        <td>515</td>
        <td>515</td>
        <td>515</td>
        <td>515</td>
      </tr>
    </tbody>
</table>

<h5>Zonas</h5>

<ol class="fa-ul small">
    <li><span class="fa-li"><strong>LM</strong></span>desde la terminal de Los Mangos hasta La Fila</li>
    <li><span class="fa-li"><strong>LF</strong></span>desde La Fila hasta Tranquerillas</li>
    <li><span class="fa-li"><strong>TR</strong></span>desde Tranquerillas hasta el cruce de Tarbaca</li>
    <li><span class="fa-li"><strong>TA</strong></span>desde el cruce de Tarbaca hasta Cinco Esquinas</li>
    <li><span class="fa-li"><strong>CE</strong></span>desde Cinco Esquinas hasta San José</li>
    <li><span class="fa-li"><strong>SJ</strong></span>terminal de San José</li>
</ol>