{% extends 'base.html'%}

{% block page_title %} Contacto {% endblock %}

{% block content %}

{# esto coloca 5 líneas de espacio vertical #}
<div class="custom-vertical-space"></div>

<h1>Contacto con Transportes&nbsp;San&nbsp;Gabriel</h1>

<section id="contacto">

  <div class="card-deck">
    <div class="card bg-soft-secondary card-bordered">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-phone"></i> Teléfono</h5>
        <h2 class="card-text text-center"><a href="tel:{{ empresa.phone }}">{{ empresa.phone }}</a></h2>
      </div>
    </div>
    <div class="card bg-soft-secondary card-bordered">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-envelope"></i> Correo electrónico</h5>
        <h3 class="card-text text-center"><a href="mailto:{{ empresa.email }}">{{ empresa.email }}</a></h3>
      </div>
    </div>
    <div class="card bg-soft-secondary card-bordered">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-map"></i> Dirección</h5>
        <p class="card-text"> <i class="fab fa-waze"></i> <a href="https://ul.waze.com/ul?ll=9.79478950%2C-84.16339517&navigate=yes&zoom=17">Barrio María Auxiliadora, San Luis de San Ignacio de Acosta</a></p>
      </div>
    </div>
  </div>

</section>

<!-- Formulario de contacto -->

<section id="formulario">

  <br/>
  <h2><i class="fas fa-envelope"></i> Formulario de correo electrónico</h2>
  
  <p>Con este formulario puede hacernos sus consultas.</p>
  
  <div class="alert alert-soft-secondary" role="alert">
    <p>
      <ol class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-question-circle"></i></span>En las <a href="#preguntas">preguntas frecuentes</a> está la respuesta a inquietudes usuales relacionadas con nuestro servicio de transporte.</li>
      </ol>
    </p>
  </div>

{# incluir el formulario en estilo bootstrap #}
{% include "./form.html" %}

</section>

<!-- Preguntas frecuentes -->

<hr>
<h2 id="preguntas"><i class="fas fa-question-circle"></i> Preguntas frecuentes</h2>

<p>
  Estas son algunas de las preguntas usuales sobre nuestro servicio.
</p>

    <!-- Alerta sobre COVID-19 -->
    <div class="alert alert-soft-danger" role="alert">
      <p>
          <ol class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-virus"></i></span>Hay restricciones sanitarias vigentes para el uso del transporte público por la emergencia de COVID-19. Más información <a href="/covid19">aquí</a>.</li>
          </ol>
      </p>  
  </div>

  <!-- Preguntas para ANTES del viaje -->
  <div class="alert alert-soft-secondary" role="alert">
    <i class="fas fa-backward"></i> &nbsp; <strong>Antes del viaje</strong>
  </div>

  <p>
    <div class="card card-frame">
      <div class="card-body">
        <!-- Acordeón de preguntas -->
        <div id="basicsAccordion">
          {% for pregunta in antes %}
          <div class="card shadow-none mb-3">
            <div class="card-header card-collapse" id="preg{{ pregunta.id }}">
              <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#resp{{ pregunta.id }}" aria-expanded="false" aria-controls="#resp{{ pregunta.id }}">
                {{ pregunta.pregunta }}
                <span class="card-btn-toggle">
                  <span class="card-btn-toggle-default">+</span>
                  <span class="card-btn-toggle-active">-</span>
                </span>
              </a>
            </div>
            <div id="resp{{ pregunta.id }}" class="collapse" aria-labelledby="preg{{ pregunta.id }}" data-parent="#basicsAccordion">
              <div class="card-body px-0">
                <p>{{ pregunta.respuesta }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Fin del acordeón de preguntas -->
      </div>
    </div>
  </p>

  <!-- Preguntas para DURANTE el viaje -->
  <div class="alert alert-soft-secondary" role="alert">
    <i class="fas fa-play"></i> &nbsp; <strong>Durante el viaje</strong>
  </div>
  
  <p>
    <div class="card card-frame">
      <div class="card-body">
        <!-- Acordeón de preguntas -->
        <div id="basicsAccordion">
          {% for pregunta in durante %}
          <div class="card shadow-none mb-3">
            <div class="card-header card-collapse" id="preg{{ pregunta.id }}">
              <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#resp{{ pregunta.id }}" aria-expanded="false" aria-controls="#resp{{ pregunta.id }}">
                {{ pregunta.pregunta }}
                <span class="card-btn-toggle">
                  <span class="card-btn-toggle-default">+</span>
                  <span class="card-btn-toggle-active">−</span>
                </span>
              </a>
            </div>
            <div id="resp{{ pregunta.id }}" class="collapse" aria-labelledby="preg{{ pregunta.id }}" data-parent="#basicsAccordion">
              <div class="card-body px-0">
                <p>{{ pregunta.respuesta }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Fin del acordeón de preguntas -->
      </div>
    </div>
  </p>

  <!-- Preguntas para DESPUÉS del viaje -->
  <div class="alert alert-soft-secondary" role="alert">
    <i class="fas fa-forward"></i> &nbsp; <strong>Después del viaje</strong>
  </div>
  
  <p>
    <div class="card card-frame">
      <div class="card-body">
        <!-- Acordeón de preguntas -->
        <div id="basicsAccordion">
          {% for pregunta in despues %}
          <div class="card shadow-none mb-3">
            <div class="card-header card-collapse" id="preg{{ pregunta.id }}">
              <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#resp{{ pregunta.id }}" aria-expanded="false" aria-controls="#resp{{ pregunta.id }}">
                {{ pregunta.pregunta }}
                <span class="card-btn-toggle">
                  <span class="card-btn-toggle-default">+</span>
                  <span class="card-btn-toggle-active">-</span>
                </span>
              </a>
            </div>
            <div id="resp{{ pregunta.id }}" class="collapse" aria-labelledby="preg{{ pregunta.id }}" data-parent="#basicsAccordion">
              <div class="card-body px-0">
                <p>{{ pregunta.respuesta }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Fin del acordeón de preguntas -->
      </div>
    </div>
  </p>
 
{% endblock %}
