{% extends 'base.html'%}

{% block page_title %} Contacto {% endblock %}

{% block content %}

<h1>{{ empresa.name }}</h1>

<h2>Información de contacto</h2>

<ul>
    <li>Correo: <a href="mailto:{{ empresa.email }}">{{ empresa.email }}</a></li>
    <li>Teléfono: <a href="tel:{{ empresa.phone }}">{{ empresa.phone }}</a></li>
    <li>Dirección: Barrio María Auxiliadora, San Ignacio de Acosta (<a href="https://www.waze.com/ul?ll=9.79447088%2C-84.16395520&navigate=yes&zoom=17">Waze</a>)</li>
</ul>

{% if enviado %}
{{ notificacion }}
{% else %}
<h1>Contáctenos</h1>
<form method="post">
  {% csrf_token %}
  {{ formulario.as_p }}
  <div class="form-actions">
    <button type="submit">Enviar</button>
  </div>
</form>
{% endif %}

<h2>Preguntas frecuentes</h2>

{% for pregunta in preguntas %}

<h4>{{ pregunta.pregunta }}</h4>
<p>{{ pregunta.respuesta }}</p>

{% endfor %}

{% endblock %}
