.color-sanluis {
    color: #FFA500;
}
.color-turrujal {
    color: #FF4500;
}
.color-sangabriel {
    color: #008000;
}
.fondo-color-sanluis {
    background-color: #FFA500;
    color: black;
}
.fondo-color-turrujal {
    background-color: #FF4500;
    color: white;
}
.fondo-color-sangabriel {
    background-color: #008000;
    color: white;
}
.borde-color-sanluis {
    border-color: #FFA500;
    border-width: 1px;
}
.borde-color-turrujal {
    border-color: #FF4500;
    border-width: 1px;
}
.borde-color-sangabriel {
    border-color: #008000;
    border-width: 1px;
}