/*
 * Fichero con las correcciones a estilos
 * y estilos personalizados para la aplicacion
 *
 */

.proxbus-card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
}

.proxbus-container {
    padding: 0;
}

.proxbus-row {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.proxbus-emph-row {
    /* Emphasis column*/
    margin-left: 18px;
    margin-right: 18px;
    background-color: #d7dde4
}

.proxbus-emph-col {
    /* Emphasis column*/
    padding-left: 0;
    padding-right: 0;
    font-size: 1.25rem;
}

.custom-sticky-top {
    position: sticky;
    top: 0px;
}

.custom-margin-top {
    margin-top: 5ch;
}

.custom-vertical-space {
    min-height: 10ch;
}

.custom-badge {
    min-width: 4.2ch;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
    #content-desktop {display: none;}
    #content-mobile {display: block;}
}
